<!doctype html>
<html lang="en" data-bs-theme="auto">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="ListingHub - Business Directory HTML Template By Themezhub">
		<meta name="author" content="Themezhub">
		
		<title>ListingHub Business Listing HTML Template By Themezhub</title>
		<link rel="icon" type="image/x-icon" href="assets/img/favicon.png">

		<!-- All Plugins -->
		<link href="assets/css/vendors.css" rel="stylesheet">

		<!-- Icons CSS -->
		<link href="assets/css/icons.css" rel="stylesheet">
		

		<!-- Custom CSS -->
		<link href="assets/css/style.css" rel="stylesheet">
	</head>

	<body>
		<!-- ============================================================== -->
		<!-- Preloader - style you can find in spinners.css -->
		<!-- ============================================================== -->
		<div id="preloader">
			<div class="preloader"><span></span><span></span></div>
		</div>

		<!-- ============================================================== -->
		<!-- Main wrapper - style you can find in pages.scss -->
		<!-- ============================================================== -->
		<div id="main-wrapper">

			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			<!-- Start Navigation -->
			<div class="header header-light" data-sticky-element="">
				<div class="container">
					<nav id="navigation" class="navigation navigation-landscape">
						<div class="nav-header">					
							<a class="nav-brand light-mode-item" href="checkout-page.html#">
								<img src="assets/img/logo.svg" class="logo main-logo" alt="">
								<img src="assets/img/logo.svg" class="logo change-logo " alt="">
								<img src="assets/img/logo.svg" class="logo mobile-logo" alt="">
							</a>
							<a class="nav-brand dark-mode-item" href="checkout-page.html#">
								<img src="assets/img/logo-light.svg" class="logo main-logo" alt="">
								<img src="assets/img/logo-light.svg" class="logo change-logo" alt="">
								<img src="assets/img/logo-light.svg" class="logo mobile-logo" alt="">
							</a>
							<div class="nav-toggle"></div>
							<div class="mobile_nav">
								<ul>
									<li>
										<a href="checkout-page.html#" class="d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#login"><i class="bi bi-person-circle me-1"></i></a>
									</li>
									<li>
										<a href="checkout-page.html#cartSlider" class="cart-content" data-bs-toggle="offcanvas" role="button" aria-controls="cartSlider"><i class="bi bi-basket2"></i><span class="head-cart-counter">3</span></a>
									</li>
									<li>
										<a href="checkout-page.html#searchSlider" class="d-flex align-items-center" data-bs-toggle="offcanvas" role="button" aria-controls="searchSlider"><i class="bi bi-search me-1"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="nav-menus-wrapper">
							<ul class="nav-menu">

								<li class="active"><a href="JavaScript:Void(0);">Home<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li><a href="index.html">City Directory<span class="badge md badge-success ms-2">New</span></a></li>
										<li><a href="home-2.html">Restaurant & Cafe<span class="badge md badge-danger ms-2">Popular</span></a></li>
										<li><a href="home-3.html">Medical & Doctors</a></li>
										<li><a href="home-4.html">Hotel & Travel Listing<span class="badge md badge-info ms-2">Hot</span></a></li>
										<li><a href="home-5.html">Real Estate Listing<span class="badge md badge-success ms-2">Trending</span></a></li>
										<li><a href="home-6.html">Event & Party Directory</a></li>
										<li><a href="home-7.html">Global Startup</a></li>
										<li><a href="home-8.html">Home Layout 08</a></li>
										<li><a href="home-9.html">Home Layout 09</a></li>
										<li><a href="home-10.html">Home Layout 10</a></li>
										<li><a href="home-splash.html">Home Splash</a></li>
										<li><a href="home-map.html">Home Map Layout</a></li>
									</ul>
								</li>

								<li><a href="JavaScript:Void(0);">Listings<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li><a href="JavaScript:Void(0);">Grid Layouts<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="grid-layout-01.html">Grid Layout 01</a></li>                                    
												<li><a href="grid-layout-02.html">Grid Layout 02</a></li>                                    
												<li><a href="grid-layout-03.html">Grid Layout 03</a></li>                                    
												<li><a href="grid-layout-04.html">Grid Layout 04</a></li>                                    
												<li><a href="grid-layout-05.html">Grid Layout 05</a></li>                                    
												<li><a href="grid-layout-06.html">Grid Layout 06</a></li>                                    
											</ul>
										</li>
										<li><a href="JavaScript:Void(0);">List Layouts<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="list-layout-01.html">List Layout 01</a></li>                                     
												<li><a href="list-layout-02.html">List Layout 02</a></li>                                     
												<li><a href="list-layout-03.html">List Layout 03</a></li>                                     
												<li><a href="list-layout-04.html">List Layout 04</a></li>                                     
												<li><a href="list-layout-05.html">List Layout 05</a></li>                                     
											</ul>
										</li>
										<li><a href="JavaScript:Void(0);">Half Map Screen<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="half-map-01.html">Half Map Screen 01</a></li>
												<li><a href="half-map-02.html">Half Map Screen 02</a></li>
												<li><a href="half-map-03.html">Half Map Screen 03</a></li>
												<li><a href="half-map-04.html">Half Map Screen 04</a></li>
												<li><a href="half-map-05.html">Half Map Screen 05</a></li>
											</ul>
										</li>
										<li><a href="JavaScript:Void(0);">Single Listings<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="single-listing-01.html">Single Listing 01</a></li>
												<li><a href="single-listing-02.html">Single Listing 02</a></li>
												<li><a href="single-listing-03.html">Single Listing 03</a></li>
												<li><a href="single-listing-04.html">Single Listing 04</a></li>
												<li><a href="single-listing-05.html">Single Listing 05</a></li>
											</ul>
										</li>
									</ul>
								</li>

								<li><a href="JavaScript:Void(0);">User Dashboard<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li><a href="dashboard-user.html"><i class="bi bi-speedometer me-1"></i>Dashboard Area</a></li>
										<li><a href="dashboard-my-profile.html"><i class="bi bi-person-lines-fill me-1"></i>My Profile</a></li>
										<li><a href="dashboard-my-bookings.html"><i class="bi bi-journal-check me-1"></i>My Bookings</a></li>
										<li><a href="dashboard-my-listings.html"><i class="bi bi-ui-radios-grid me-1"></i>My Listings</a></li>
										<li><a href="dashboard-bookmarks.html"><i class="bi bi-bookmark-star me-1"></i>Bookmarkes</a></li>
										<li><a href="dashboard-messages.html"><i class="bi bi-chat-dots me-1"></i>Messages</a></li>
										<li><a href="dashboard-reviews.html"><i class="bi bi-yelp me-1"></i>Reviews</a></li>
										<li><a href="dashboard-wallet.html"><i class="bi bi-wallet me-1"></i>Wallet</a></li>
										<li><a href="dashboard-add-listing.html"><i class="bi bi-patch-plus me-1"></i>Add Listing</a></li>
									</ul>
								</li>

								<li><a href="JavaScript:Void(0);">Pages<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li><a href="JavaScript:Void(0);"><i class="bi bi-person-circle me-1"></i>My Account<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="login.html"><i class="bi bi-box-arrow-in-right me-1"></i>User Login</a></li>
												<li><a href="register.html"><i class="bi bi-person-plus me-1"></i>Signup Page</a></li>
												<li><a href="forgot-password.html"><i class="bi bi-question-circle me-1"></i>Forget Password</a></li>
												<li><a href="two-factor-auth.html"><i class="bi bi-shield-check me-1"></i>Two Step verification</a></li>
											</ul>
										</li>
										<li><a href="author-profile.html"><i class="bi bi-person-vcard me-1"></i>Author Profile</a></li>
										<li><a href="booking-page.html"><i class="bi bi-calendar2-check me-1"></i>Booking Page</a></li>
										<li><a href="about-us.html"><i class="bi bi-person-check me-1"></i>About Us</a></li>                                
										<li><a href="blog.html"><i class="bi bi-blockquote-left me-1"></i>Blog Page</a></li>
										<li><a href="contact-us.html"><i class="bi bi-envelope-check me-1"></i>Contact Us</a></li>
										<li><a href="pricing.html"><i class="bi bi-coin me-1"></i>Pricing</a></li>										
										<li><a href="help-center.html"><i class="bi bi-patch-question me-1"></i>Help Center</a></li>
										<li><a href="comingsoon.html"><i class="bi bi-hourglass-top me-1"></i>Coming Soon</a></li>
										<li><a href="faq.html"><i class="bi bi-info-circle me-1"></i>FAQ's</a></li>
										<li><a href="error.html"><i class="bi bi-x-octagon me-1"></i>Error Page</a></li>
										<li><a href="elements.html"><i class="bi bi-gear me-1"></i>Elements</a></li>
									</ul>
								</li>
								
								<li class="addButton"><a class="mob-addlisting" href="JavaScript:Void(0);"><i class="bi bi-geo-alt-fill me-1"></i>Add Listing</a></li>

							</ul>

							<ul class="nav-menu nav-menu-social align-to-right">
								<li>
									<a href="checkout-page.html#" class="d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#login"><i class="bi bi-person-circle fs-6 me-1"></i><span class="navCl">SignUp or SignIn</span></a>
								</li>
								<li>
									<a href="checkout-page.html#cartSlider" class="cart-content" data-bs-toggle="offcanvas" role="button" aria-controls="cartSlider"><i class="bi bi-basket2"></i><span class="head-cart-counter">3</span></a>
								</li>
								<li class="list-buttons">
									<a href="register.html"><i class="bi bi-patch-plus-fill me-2"></i>Add Listing</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			
			<!-- ============================ Page Title Start================================== -->
			<section class="bg-light">
				<div class="container">

					<!-- Search Form -->
					<div class="row justify-content-start align-items-center">
						<div class="col-xl-7 col-lg-9 col-md-12 col-sm-12">
							<div class="position-relative">
								<h1 class="xl-heading">Checkout</h1>
								<nav id="breadcrumbs" class="breadcrumbs">
									<ul>
										<li><a href="checkout-page.html#">Home</a></li>
										<li><a href="checkout-page.html#">Shop</a></li>
										<li>Checkout</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
					<!-- </row> -->

				</div>
			</section>
			<!-- ============================ Page Title End ================================== -->
			
			
			<!-- ============================ Checkout Details Start ================================== -->
			<section>
			
				<div class="container">
				
					<!-- row Start -->
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="alert alert-success text-center" role="alert">
								Hi Dear, Have you already an account? <a href="checkout-page.html#" class="alert-link" data-bs-toggle="collapse" data-bs-target="#login-frm">Please Login</a>
							</div>
						</div>
						
						<div class="col-lg-12 col-md-12">	
							<div id="login-frm" class="collapse mb-5">
								<div class="row">
									
									<div class="col-lg-4 col-md-4 col-sm-6">
										<div class="form-group">
											<input type="text" class="form-control border" placeholder="Username">
										</div>
									</div>
									
									<div class="col-lg-4 col-md-4 col-sm-6">
										<div class="form-group">
											<input type="text" class="form-control border" placeholder="*******">
										</div>
									</div>
									
									<div class="col-lg-4 col-md-4 col-sm-12">
										<div class="form-group">
											<button type="submit" class="btn btn-primary full-width">Submit</button>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
					<!-- /row -->

					<!-- row Start -->
					<div class="row form-submit">
						<div class="col-lg-8 col-md-12 col-sm-12">
						
							<!-- row -->
							<div class="row m-0">
								<div class="submit-page">
									<div class="row">
									
										<div class="col-lg-12 col-md-12 col-sm-12">
											<h3>Billing Detail</h3>
										</div>
										
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												<label>Name<i class="req">*</i></label>
												<input type="text" class="form-control">
											</div>
										</div>
										
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												<label>Email<i class="req">*</i></label>
												<input type="text" class="form-control">
											</div>
										</div>
										
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="form-group">
												<label>Company Name</label>
												<input type="text" class="form-control">
											</div>
										</div>
										
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="form-group">
												<label>Address<i class="req">*</i></label>
												<input type="text" class="form-control">
											</div>
										</div>
										
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												<label>City<i class="req">*</i></label>
												<div class="selects">
													<select class="location form-control">
													  <option label="option"></option> 
													  <option value="lv">Philadelphia</option>
													  <option value="la">Nashville</option>
													  <option value="kc">San Francisco</option>
													  <option value="no">San Antonio</option>
													  <option value="kc">Las Vegas</option>
													  <option value="lb">Los Angeles</option>
													  <option value="cl">Kansas City</option>
													  <option value="cn">Jacksonville</option>
													</select>
												</div>
											</div>
										</div>
										
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												<label>State<i class="req">*</i></label>
												<input type="text" class="form-control">
											</div>
										</div>
										
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												<label>Apartment</label>
												<input type="text" class="form-control">
											</div>
										</div>
										
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												<label>Zip-Code<i class="req">*</i></label>
												<input type="text" class="form-control">
											</div>
										</div>
										
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												<label>Phone<i class="req">*</i></label>
												<input type="text" class="form-control">
											</div>
										</div>
										
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												<label>Landline</label>
												<input type="text" class="form-control">
											</div>
										</div>
										
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="form-group">
												<label>Additional Information</label>
												<textarea class="form-control ht-50"></textarea>
											</div>
										</div>
										
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-check">
												<input id="al-2" class="form-check-input" name="al-2" type="checkbox">
												<label for="al-2" class="form-check-label">Create An Account</label>
											</div>
										</div>
								
									</div>
								</div>
							</div>
							<!--/row -->
							
							<!-- Payment Methode -->
							<div class="row align-items-start justify-content-start mt-4 g-2">
								<div class="col-xl-12 col-lg-12 col-md-12 col-12">
									<div class="accordion accordion-flush" id="paymentFlushExample">
										<div class="accordion-item border">
											<h2 class="accordion-header rounded-2">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-paypal" aria-expanded="false" aria-controls="flush-paypal">
													Pay Via PayPal
												</button>
											</h2>
											<div id="flush-paypal" class="accordion-collapse collapse show" data-bs-parent="#paymentFlushExample">
												<div class="accordion-body">
													<form>
														<div class="form-group">
															<label>PayPal Email</label>
															<input type="text" class="form-control simple" placeholder="paypal@gmail.com">
														</div>
													</form>
												</div>
											</div>
										</div>
										<div class="accordion-item border rounded-2">
											<h2 class="accordion-header">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-stripe" aria-expanded="false" aria-controls="flush-stripe">
													Pay Via Stripe
												</button>
											</h2>
											<div id="flush-stripe" class="accordion-collapse collapse" data-bs-parent="#paymentFlushExample">
												<div class="accordion-body">
													<form>
																			
														<div class="row">
															<div class="col-lg-6 col-md-6 col-sm-12">
																<div class="form-group">
																	<label>Card Holder Name</label>
																	<input type="text" class="form-control">
																</div>
															</div>
															
															<div class="col-lg-6 col-md-6 col-sm-12">
																<div class="form-group">
																	<label>Card Number</label>
																	<input type="text" class="form-control">
																</div>
															</div>									
														
															<div class="col-lg-5 col-md-5 col-sm-6">
																<div class="form-group">
																	<label>Expire Month</label>
																	<input type="text" class="form-control">
																</div>
															</div>
															
															<div class="col-lg-5 col-md-5 col-sm-6">
																<div class="form-group">
																	<label>Expire Year</label>
																	<input type="text" class="form-control">
																</div>
															</div>
															
															<div class="col-lg-2 col-md-2 col-sm-12">
																<div class="form-group">
																	<label>CVC</label>
																	<input type="text" class="form-control">
																</div>
															</div>										
															
															<div class="col-lg-6 col-md-6 col-sm-12">
																<div class="form-check mb-3">
																	<input id="stripes" class="form-check-input" name="stripes" type="checkbox">
																	<label for="stripes" class="form-check-label">By Continuing, you ar'e agree to conditions</label>
																</div>
															</div>
															
														</div>
													
													</form>
												</div>
											</div>
										</div>
										<div class="accordion-item border rounded-2">
											<h2 class="accordion-header">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-creditcard" aria-expanded="false" aria-controls="flush-creditcard">
													Pay Via Dabit/Credit Card
												</button>
											</h2>
											<div id="flush-creditcard" class="accordion-collapse collapse" data-bs-parent="#paymentFlushExample">
												<div class="accordion-body">
													<form>
																			
														<div class="row">
															<div class="col-lg-6 col-md-6 col-sm-12">
																<div class="form-group">
																	<label>Card Holder Name</label>
																	<input type="text" class="form-control">
																</div>
															</div>
															
															<div class="col-lg-6 col-md-6 col-sm-12">
																<div class="form-group">
																	<label>Card Number</label>
																	<input type="text" class="form-control">
																</div>
															</div>									
														
															<div class="col-lg-5 col-md-5 col-sm-6">
																<div class="form-group">
																	<label>Expire Month</label>
																	<input type="text" class="form-control">
																</div>
															</div>
															
															<div class="col-lg-5 col-md-5 col-sm-6">
																<div class="form-group">
																	<label>Expire Year</label>
																	<input type="text" class="form-control">
																</div>
															</div>
															
															<div class="col-lg-2 col-md-2 col-sm-12">
																<div class="form-group">
																	<label>CVC</label>
																	<input type="text" class="form-control">
																</div>
															</div>										
															
															<div class="col-lg-6 col-md-6 col-sm-12">
																<div class="form-check mb-3">
																	<input id="credits" class="form-check-input" name="credits" type="checkbox">
																	<label for="credits" class="form-check-label">By Continuing, you ar'e agree to conditions</label>
																</div>
															</div>								
															
														</div>
													
													</form>
												</div>
											</div>
										</div>
									</div>								
								</div>
								
								<div class="col-xl-12 col-lg-12 col-md-12 col-12">
									<div class="form-group m-0">
										<a href="success-payment.html" class="btn btn-primary fw-medium w-100">Place Your Order</a>
									</div>
								</div>
								
							</div>
						
						</div>
						
						<!-- Col-lg 4 -->
						<div class="col-lg-4 col-md-12 col-sm-12">
							
							<div class="paymensSidebar gray rounded-3 p-4">
								<div class="paymentPagewrap">
									<div class="paymentPage">
										<div class="cartShoppes">
											
											<div class="singleCarts">
												<div class="cartFirsty1">
													<span class="shippingType">Free Shipping</span>
													<h6 class="itemBrans">Awaik Brand</h6>
													<p class="itemName">Flower Vase x1</p>
												</div>
												<div class="cartFirsty2">
													<div class="totalPrice">$45</div>
												</div>
											</div>
											
											<div class="singleCarts">
												<div class="cartFirsty1">
													<span class="shippingType charegable">Shipping $40</span>
													<h6 class="itemBrans">LP Liquid Hipe</h6>
													<p class="itemName">Water Castle x1</p>
												</div>
												<div class="cartFirsty2">
													<div class="totalPrice">$62</div>
												</div>
											</div>
											
											<div class="singleCarts">
												<div class="cartFirsty1">
													<span class="shippingType">Free Shipping</span>
													<h6 class="itemBrans">Singla Sivansh</h6>
													<p class="itemName">Cattle Liwar x1</p>
												</div>
												<div class="cartFirsty2">
													<div class="totalPrice">$72</div>
												</div>
											</div>
											
										</div>
									</div>
									
									<div class="booking-info-try rounded bg-white mb-4 mt-3 p-4">
										<ul class="p-0 m-0">
											<li class="d-flex align-items-center justify-content-between my-1"><span class="bs-text-dark fw-medium">Subtotal</span><span class="fw-medium text-muted">$272.20</span></li>
											<li class="d-flex align-items-center justify-content-between my-1"><span class="bs-text-dark fw-medium">GST</span><span class="fw-medium text-muted">$16.40</span></li>
											<li class="d-flex align-items-center justify-content-between my-1"><span class="bs-text-dark fw-medium">Tax</span><span class="fw-medium text-muted">$18.20</span></li>
											<li class="d-flex align-items-center justify-content-between my-1"><span class="bs-text-dark fw-medium">Discount</span><span class="fw-medium text-danger">-$12.10</span></li>
											<li class="d-flex align-items-center justify-content-between"><span class="bs-text-dark fw-medium">Total</span><span class="fw-semibold text-success">$298.76</span></li>
										</ul>
									</div>
								</div>
								
							</div>
							
						</div>
						<!-- /col-lg-4 -->
						
					</div>
					<!-- /row -->					
					
				</div>
						
			</section>
			<!-- ============================ Checkout Details End ================================== -->
			
			<!-- ============================ Call To Action Start ================================== -->
			<section class="bg-cover bg-primary position-relative py-5" style="background:url(assets/img/brand-section.png)no-repeat;">
				<div class="container">
					<div class="row align-items-center justify-content-between g-4">
						
						<div class="col-xl-5 col-lg-5 col-md-5">
							<div class="callsTitles">
								<h4 class="text-white mb-0 lh-base">Subscribe Our Newsletter!</h4>
								<p class="text-white opacity-75 m-0">Subscribe our marketing platforms for latest updates</p>
							</div>
						</div>
						
						<div class="col-xl-5 col-lg-6 col-md-6">
							<div class="subscribeForm">
								<div class="inputGroup">
									<input type="email" class="form-control" placeholder="Your Email Here...">
									<button class="btn btn-warning text-dark"><i class="fa-regular fa-paper-plane me-2"></i>Subscribe</button>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- ============================ Call To Action Start ================================== -->


			<!-- ============================ Footer Start ================================== -->
			<footer class="footer skin-dark-footer">
				<div class="container">
					<div class="row">

						<div class="col-12 col-md-5 col-lg-12 col-xl-4">
							<div class="footer-widget pe-xl-4 mb-5">
								<div class="footerLogo"><img src="assets/img/logo-light.svg" class="img-fluid" width="160" alt="Footer Logo"></div>
								<div class="footerText"><p>©ListingHub 2025 Design By Themezhub</p></div>
								<div class="footerSocialwrap">
									<ul class="footersocial">
										<li><a href="checkout-page.html#" class="social-link"><i class="fa-brands fa-facebook-f"></i></a></li>
										<li><a href="checkout-page.html#" class="social-link"><i class="fa-brands fa-twitter"></i></a></li>
										<li><a href="checkout-page.html#" class="social-link"><i class="fa-brands fa-instagram"></i></a></li>
										<li><a href="checkout-page.html#" class="social-link"><i class="fa-brands fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="col-6 col-md-4 offset-md-3 col-lg-3  offset-lg-0 col-xl-2">
							<div class="footer-widget mb-5 mb-md-5 mb-lg-0">
								<h4 class="widget-title text-pri">Community</h4>
								<ul class="footer-menu">
									<li><a href="checkout-page.html#">About ListingHub</a></li>
									<li><a href="checkout-page.html#">Submit Listing</a></li>
									<li><a href="checkout-page.html#">ListingHub Report</a></li>
									<li><a href="checkout-page.html#">Careers</a></li>
								</ul>
							</div>
						</div>

						<div class="col-6 col-md-4 col-lg-3 col-xl-2">
							<div class="footer-widget mb-5 mb-md-5 mb-lg-0">
								<h4 class="widget-title">Getting Started</h4>
								<ul class="footer-menu">
									<li><a href="checkout-page.html#">Trust & Safety</a></li>
									<li><a href="checkout-page.html#">Investor Relations</a></li>
									<li><a href="checkout-page.html#">Connect Guidelines</a></li>
									<li><a href="checkout-page.html#">Terms of Services</a></li>
									<li><a href="checkout-page.html#">Paid Advertising</a></li>
									<li><a href="checkout-page.html#">ListingHub Blog</a></li>
								</ul>
							</div>
						</div>

						<div class="col-6 col-md-4 col-lg-3 col-xl-2">
							<div class="footer-widget">
								<h4 class="widget-title">ListingHub Business</h4>
								<ul class="footer-menu">
									<li><a href="checkout-page.html#">ListingHub for Business</a></li>
									<li><a href="checkout-page.html#">Advertise on ListingHub</a></li>
									<li><a href="checkout-page.html#">Login on ListingHub</a></li>
									<li><a href="checkout-page.html#">Claim for Business Page</a></li>
									<li><a href="checkout-page.html#">Support for B2B</a></li>
									<li><a href="checkout-page.html#">Table Management</a></li>
								</ul>
							</div>
						</div>

						<div class="col-6 col-md-4 col-lg-3 col-xl-2">
							<div class="footer-widget">
								<h4 class="widget-title">Get In Touch</h4>
								<div class="contactInfowrap">
									
									<div class="singleinfo">
										<div class="icons"><i class="bi bi-geo-alt-fill"></i></div>
										<div class="caps">
											<h5 class="title">Angraster 7, Greenhorst<br>Los Angeles QTC564</h5>
											<p class="subs">Reach Us</p>											
										</div>
									</div>
									
									<div class="singleinfo">
										<div class="icons"><i class="bi bi-telephone-outbound"></i></div>
										<div class="caps">
											<h5 class="title">042 - 526 - 5263</h5>
											<p class="subs">Mon - Sat 10am - 6PM</p>											
										</div>
									</div>
								
								</div>
							</div>
						</div>

					</div>
					
				</div>
				
			</footer>
			<!-- ============================ Footer End ================================== -->

			<!-- Log In Modal -->
			<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginmodal" aria-hidden="true">
				<div class="modal-dialog" id="loginmodal">
					<div class="modal-content">
						<div class="modal-header justify-content-end border-0 pb-0">
							<a href="checkout-page.html#" class="square--30 circle bg-light-danger text-danger" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></a>
						</div>
						
						<div class="modal-body px-4">
							<!-- Heading -->
							<div class="text-center mb-5">
							  <h2>Welcome Back</h2>
							  <p class="fs-6">Login to manage your account.</p>
							</div>
							<!-- End Heading -->

							<!-- Form -->
							<form class="needs-validation px-lg-2" novalidate>
								
								<!-- Form -->
								<div class="row align-items-center justify-content-between g-3 mb-4">
									<div class="col-xl-6 col-lg-6 col-md-6"><a href="checkout-page.html#" class="btn btn-outline-secondary border rounded-3 text-md px-lg-2 full-width"><img src="assets/img/google.png" class="img-fluid me-2" width="16" alt="">Login with Google</a></div>
									<div class="col-xl-6 col-lg-6 col-md-6"><a href="checkout-page.html#" class="btn btn-outline-secondary border rounded-3 text-md px-lg-2 full-width"><img src="assets/img/facebook.png" class="img-fluid me-2" width="16" alt="">Login with Facebook</a></div>
								</div>
								<!-- End Form -->
								
								<!-- Form -->
								<div class="mb-4">
									<label class="form-label" for="email01">Your email</label>
									<input type="email" class="form-control" id="email01" placeholder="email@site.com" required>
									<span class="invalid-feedback">Please enter a valid email address.</span>
								</div>
								<!-- End Form -->

								<!-- Form -->
								<div class="mb-4">
									<div class="d-flex justify-content-between align-items-center">
										<label class="form-label" for="pass01">Password</label>
										<a class="link fw-medium text-primary" href="forgot-password.html">Forgot Password?</a>
									</div>

									<div class="input-group-merge">
										<input type="password" class="form-control" id="pass01" placeholder="8+ characters required" required>
									</div>

									<span class="invalid-feedback">Please enter a valid password.</span>
								</div>
								<!-- End Form -->

								<div class="d-grid mb-3">
									<button type="submit" class="btn btn-primary fw-medium">Log in</button>
								</div>

								<div class="text-center">
									<p>Don't have an account yet? <a class="link fw-medium text-primary" href="https://themezhub.net/listinghub-03.1/listinghub/signup.html">Sign up here</a></p>
								</div>
							</form>
							<!-- End Form -->
						</div>
						
						<div class="modal-footer p-3 border-top">
							<div class="d-flex align-items-center justify-content-between gap-3">
								<div class="brand px-lg-4 px-3"><img src="assets/img/brand/logo-1.png" class="img-fluid" alt=""></div>
								<div class="brand px-lg-4 px-3"><img src="assets/img/brand/logo-3.png" class="img-fluid" alt=""></div>
								<div class="brand px-lg-4 px-3"><img src="assets/img/brand/logo-2.png" class="img-fluid" alt=""></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->
			
			<!-- Cart Slider Wrap -->
			<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="cartSlider" aria-labelledby="cartSliderLabel">
				<div class="offcanvas-header border-bottom">
					<h6 class="offcanvas-title" id="cartSliderLabel">Your cart Items</h6>
					<a href="JavaScript:Void(0);" class="square--35 circle text-muted-2 border" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-x"></i></a>
				</div>
				<div class="offcanvas-body">
					<div class="cartItems w-100">
						<div class="d-flex align-items-center justify-content-start flex-column gap-3">
							
							<!-- Single Item -->
							<div class="singleCartitem d-flex align-items-center justify-content-between gap-4 w-100">
								<div class="d-flex align-items-center justify-content-start gap-3">
									<div class="cartiteThumb"><figure class="d-block m-0"><img src="assets/img/list-3.jpg" class="img-fluid rounded-2" width="60" alt=""></figure></div>
									<div class="cartCaption">
										<h6 class="lh-base m-0">Spicy Burger</h6>
										<p class="m-0">1x$25.50</p>
									</div>
								</div>
								
								<div class="removeItemcart"><a href="checkout-page.html" class="square--35 circle badge-danger"><i class="bi bi-x"></i></a></div>
							</div>
							
							<!-- Single Item -->
							<div class="singleCartitem d-flex align-items-center justify-content-between gap-3 w-100">
								<div class="d-flex align-items-center justify-content-start gap-3">
									<div class="cartiteThumb"><figure class="d-block m-0"><img src="assets/img/list-4.jpg" class="img-fluid rounded-2" width="60" alt=""></figure></div>
									<div class="cartCaption">
										<h6 class="lh-base m-0">Premium Package</h6>
										<p class="m-0">1x$22.10</p>
									</div>
								</div>
								
								<div class="removeItemcart"><a href="checkout-page.html" class="square--35 circle badge-danger"><i class="bi bi-x"></i></a></div>
							</div>
							
							<!-- Single Item -->
							<div class="singleCartitem d-flex align-items-center justify-content-between gap-3 w-100">
								<div class="d-flex align-items-center justify-content-start gap-3">
									<div class="cartiteThumb"><figure class="d-block m-0"><img src="assets/img/list-5.jpg" class="img-fluid rounded-2" width="60" alt=""></figure></div>
									<div class="cartCaption">
										<h6 class="lh-base m-0">Platinum Plaster</h6>
										<p class="m-0">1x$17.40</p>
									</div>
								</div>
								
								<div class="removeItemcart"><a href="checkout-page.html" class="square--35 circle badge-danger"><i class="bi bi-x"></i></a></div>
							</div>
						
						</div>
						
						<div class="cartSubtotal w-100 py-3 border-top mt-3">
							<h6 class="m-0">Subtotal: $128.75</h6>
						</div>
						
					</div>
					
					<div class="cartButtons w-100 py-2">
						<div class="d-flex align-items-center justify-content-center flex-wrap gap-2">
							<a href="viewcart.html" class="btn btn-md btn-light-primary fw-medium flex-fill">View Cart</a>
							<a href="checkout-page.html" class="btn btn-md btn-primary fw-medium flex-fill">Checkout</a>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Search Slider Wrap  -->
			<div class="offcanvas offcanvas-top h-auto" tabindex="-1" id="searchSlider" aria-labelledby="searchSliderLabel">
				<div class="offcanvas-body" id="searchSliderLabel">
					<div class="searchForm w-100 mb-3">
						<div class="p-2 ps-3 rounded border d-flex align-items-center justify-content-between gap-2">
							<div class="searchicons"><span><i class="bi bi-search fs-4 opacity-75"></i></span></div>
							<div class="flex-fill"><input type="search" class="form-control border-0 ps-0" placeholder="What are you looking for?"></div>
							<div class="closeSlides"><a href="JavaScript:Void(0);" class="square--35 circle text-muted-2 border" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-x"></i></a></div>
						</div>
					</div>
					<div class="popularSearches d-flex align-items-center justify-content-center gap-2 flex-wrap">
						<div class="singleItem"><a href="checkout-page.html#" class="badge badge-xs badge-primary rounded-pill">Real Estate</a></div>	
						<div class="singleItem"><a href="checkout-page.html#" class="badge badge-xs badge-primary rounded-pill">Eat & Drink</a></div>	
						<div class="singleItem"><a href="checkout-page.html#" class="badge badge-xs badge-primary rounded-pill">Shopping</a></div>	
						<div class="singleItem"><a href="checkout-page.html#" class="badge badge-xs badge-primary rounded-pill">Nightlife</a></div>	
						<div class="singleItem"><a href="checkout-page.html#" class="badge badge-xs badge-primary rounded-pill">Services</a></div>	
					</div>
				</div>
			</div>


		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->


		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="assets/js/vendors.js"></script>

		<script src="assets/js/custom.js"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->

	</body>

</html>