<!doctype html>
<html lang="en" data-bs-theme="auto">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="ListingHub - Business Directory HTML Template By Themezhub">
		<meta name="author" content="Themezhub">
		
		<title>ListingHub Business Listing HTML Template By Themezhub</title>
		<link rel="icon" type="image/x-icon" href="assets/img/favicon.png">

		<!-- All Plugins -->
		<link href="assets/css/vendors.css" rel="stylesheet">

		<!-- Icons CSS -->
		<link href="assets/css/icons.css" rel="stylesheet">
		

		<!-- Custom CSS -->
		<link href="assets/css/style.css" rel="stylesheet">
	</head>

	<body>
		<!-- ============================================================== -->
		<!-- Preloader - style you can find in spinners.css -->
		<!-- ============================================================== -->
		<div id="preloader">
			<div class="preloader"><span></span><span></span></div>
		</div>

		<!-- ============================================================== -->
		<!-- Main wrapper - style you can find in pages.scss -->
		<!-- ============================================================== -->
		<div id="main-wrapper">

			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			<!-- Start Navigation -->
			<div class="header header-light head-shadow" data-sticky-element="">
				<div class="container">
					<nav id="navigation" class="navigation navigation-landscape">
						<div class="nav-header">
							<a class="nav-brand light-mode-item" href="dashboard-my-profile.html#">
								<img src="assets/img/logo.svg" class="logo main-logo" alt="">
								<img src="assets/img/logo.svg" class="logo change-logo " alt="">
								<img src="assets/img/logo.svg" class="logo mobile-logo" alt="">
							</a>
							<a class="nav-brand dark-mode-item" href="dashboard-my-profile.html#">
								<img src="assets/img/logo-light.svg" class="logo main-logo" alt="">
								<img src="assets/img/logo-light.svg" class="logo change-logo" alt="">
								<img src="assets/img/logo-light.svg" class="logo mobile-logo" alt="">
							</a>
							<div class="nav-toggle"></div>
							<div class="mobile_nav">
								<ul>
									<li>
										<a data-bs-toggle="offcanvas" href="dashboard-my-profile.html#offcanvasExample" role="button" aria-controls="offcanvasExample" class="d-inline-flex py-0 pt-1 px-1"><div class="d-inline-flex w-8 h-8 circle overflow-hidden"><img src="assets/img/team-2.jpg" class="img-fluid" alt=""></div></a>
									</li>
									<li>
										<a href="dashboard-my-profile.html#cartSlider" class="cart-content" data-bs-toggle="offcanvas" role="button" aria-controls="cartSlider"><i class="bi bi-basket2"></i><span class="head-cart-counter">3</span></a>
									</li>
									<li>
										<a href="dashboard-my-profile.html#searchSlider" class="d-flex align-items-center" data-bs-toggle="offcanvas" role="button" aria-controls="searchSlider"><i class="bi bi-search me-1"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="nav-menus-wrapper">
							<ul class="nav-menu">

								<li class="active"><a href="JavaScript:Void(0);">Home<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li><a href="index.html">City Directory<span class="badge md badge-success ms-2">New</span></a></li>
										<li><a href="home-2.html">Restaurant & Cafe<span class="badge md badge-danger ms-2">Popular</span></a></li>
										<li><a href="home-3.html">Medical & Doctors</a></li>
										<li><a href="home-4.html">Hotel & Travel Listing<span class="badge md badge-info ms-2">Hot</span></a></li>
										<li><a href="home-5.html">Real Estate Listing<span class="badge md badge-success ms-2">Trending</span></a></li>
										<li><a href="home-6.html">Event & Party Directory</a></li>
										<li><a href="home-7.html">Global Startup</a></li>
										<li><a href="home-8.html">Home Layout 08</a></li>
										<li><a href="home-9.html">Home Layout 09</a></li>
										<li><a href="home-10.html">Home Layout 10</a></li>
										<li><a href="home-splash.html">Home Splash</a></li>
										<li><a href="home-map.html">Home Map Layout</a></li>
									</ul>
								</li>

								<li><a href="JavaScript:Void(0);">Listings<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li><a href="JavaScript:Void(0);">Grid Layouts<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="grid-layout-01.html">Grid Layout 01</a></li>                                    
												<li><a href="grid-layout-02.html">Grid Layout 02</a></li>                                    
												<li><a href="grid-layout-03.html">Grid Layout 03</a></li>                                    
												<li><a href="grid-layout-04.html">Grid Layout 04</a></li>                                    
												<li><a href="grid-layout-05.html">Grid Layout 05</a></li>                                    
												<li><a href="grid-layout-06.html">Grid Layout 06</a></li>                                    
											</ul>
										</li>
										<li><a href="JavaScript:Void(0);">List Layouts<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="list-layout-01.html">List Layout 01</a></li>                                     
												<li><a href="list-layout-02.html">List Layout 02</a></li>                                     
												<li><a href="list-layout-03.html">List Layout 03</a></li>                                     
												<li><a href="list-layout-04.html">List Layout 04</a></li>                                     
												<li><a href="list-layout-05.html">List Layout 05</a></li>                                     
											</ul>
										</li>
										<li><a href="JavaScript:Void(0);">Half Map Screen<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="half-map-01.html">Half Map Screen 01</a></li>
												<li><a href="half-map-02.html">Half Map Screen 02</a></li>
												<li><a href="half-map-03.html">Half Map Screen 03</a></li>
												<li><a href="half-map-04.html">Half Map Screen 04</a></li>
												<li><a href="half-map-05.html">Half Map Screen 05</a></li>
											</ul>
										</li>
										<li><a href="JavaScript:Void(0);">Single Listings<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="single-listing-01.html">Single Listing 01</a></li>
												<li><a href="single-listing-02.html">Single Listing 02</a></li>
												<li><a href="single-listing-03.html">Single Listing 03</a></li>
												<li><a href="single-listing-04.html">Single Listing 04</a></li>
												<li><a href="single-listing-05.html">Single Listing 05</a></li>
											</ul>
										</li>
									</ul>
								</li>

								<li><a href="JavaScript:Void(0);">User Dashboard<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li><a href="dashboard-user.html"><i class="bi bi-speedometer me-1"></i>Dashboard Area</a></li>
										<li><a href="dashboard-my-profile.html"><i class="bi bi-person-lines-fill me-1"></i>My Profile</a></li>
										<li><a href="dashboard-my-bookings.html"><i class="bi bi-journal-check me-1"></i>My Bookings</a></li>
										<li><a href="dashboard-my-listings.html"><i class="bi bi-ui-radios-grid me-1"></i>My Listings</a></li>
										<li><a href="dashboard-bookmarks.html"><i class="bi bi-bookmark-star me-1"></i>Bookmarkes</a></li>
										<li><a href="dashboard-messages.html"><i class="bi bi-chat-dots me-1"></i>Messages</a></li>
										<li><a href="dashboard-reviews.html"><i class="bi bi-yelp me-1"></i>Reviews</a></li>
										<li><a href="dashboard-wallet.html"><i class="bi bi-wallet me-1"></i>Wallet</a></li>
										<li><a href="dashboard-add-listing.html"><i class="bi bi-patch-plus me-1"></i>Add Listing</a></li>
									</ul>
								</li>

								<li><a href="JavaScript:Void(0);">Pages<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li><a href="JavaScript:Void(0);"><i class="bi bi-person-circle me-1"></i>My Account<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="login.html"><i class="bi bi-box-arrow-in-right me-1"></i>User Login</a></li>
												<li><a href="register.html"><i class="bi bi-person-plus me-1"></i>Signup Page</a></li>
												<li><a href="forgot-password.html"><i class="bi bi-question-circle me-1"></i>Forget Password</a></li>
												<li><a href="two-factor-auth.html"><i class="bi bi-shield-check me-1"></i>Two Step verification</a></li>
											</ul>
										</li>
										<li><a href="author-profile.html"><i class="bi bi-person-vcard me-1"></i>Author Profile</a></li>
										<li><a href="booking-page.html"><i class="bi bi-calendar2-check me-1"></i>Booking Page</a></li>
										<li><a href="about-us.html"><i class="bi bi-person-check me-1"></i>About Us</a></li>                                
										<li><a href="blog.html"><i class="bi bi-blockquote-left me-1"></i>Blog Page</a></li>
										<li><a href="contact-us.html"><i class="bi bi-envelope-check me-1"></i>Contact Us</a></li>
										<li><a href="pricing.html"><i class="bi bi-coin me-1"></i>Pricing</a></li>										
										<li><a href="help-center.html"><i class="bi bi-patch-question me-1"></i>Help Center</a></li>
										<li><a href="comingsoon.html"><i class="bi bi-hourglass-top me-1"></i>Coming Soon</a></li>
										<li><a href="faq.html"><i class="bi bi-info-circle me-1"></i>FAQ's</a></li>
										<li><a href="error.html"><i class="bi bi-x-octagon me-1"></i>Error Page</a></li>
										<li><a href="elements.html"><i class="bi bi-gear me-1"></i>Elements</a></li>
									</ul>
								</li>
								
								<li class="addButton"><a class="mob-addlisting" href="JavaScript:Void(0);"><i class="bi bi-geo-alt-fill me-1"></i>Add Listing</a></li>

							</ul>

							<ul class="nav-menu nav-menu-social align-to-right">
								<li>
									<a href="dashboard-my-profile.html#cartSlider" class="cart-content" data-bs-toggle="offcanvas" role="button" aria-controls="cartSlider"><i class="bi bi-basket2"></i><span class="head-cart-counter">3</span></a>
								</li>
								<li>
									<div class="btn-group account-drop">
										<a href="dashboard-my-profile.html#" class="nav-link btn-order-by-filt pe-3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<div class="d-inline-flex w-8 h-8 circle overflow-hidden"><img src="assets/img/team-2.jpg" class="img-fluid" alt=""></div>
											<span class="fw-medium d-inline-flex ms-2">Themez</span>
										</a>
										<div class="dropdown-menu pull-right animated flipInX">
											<div class="drp_menu_headr bg-primary">
												<h4>Hi, Themezhub</h4>
												<div class="drp_menu_headr-right"><button type="button" class="btn btn-whites bs-text-dark">My Profile</button></div>
											</div>
											<ul>
												<li><a href="dashboard-user.html"><i class="bi bi-speedometer me-2"></i>Dashboard Area</a></li>
												<li><a href="dashboard-my-profile.html"><i class="bi bi-person-lines-fill me-2"></i>My Profile</a></li>
												<li><a href="dashboard-my-bookings.html"><i class="bi bi-journal-check me-2"></i>My Bookings</a></li>
												<li><a href="dashboard-my-listings.html"><i class="bi bi-ui-radios-grid me-2"></i>My Listings</a></li>
												<li><a href="dashboard-bookmarks.html"><i class="bi bi-bookmark-star me-2"></i>Bookmarkes</a></li>
												<li><a href="dashboard-messages.html"><i class="bi bi-chat-dots me-2"></i>Messages<span class="notti_coun bg-success">3</span></a></li>
												<li><a href="dashboard-reviews.html"><i class="bi bi-yelp me-2"></i>Reviews</a></li>
												<li><a href="dashboard-wallet.html"><i class="bi bi-wallet me-2"></i>Wallet</a></li>
												<li><a href="dashboard-add-listing.html"><i class="bi bi-patch-plus me-2"></i>Add Listing</a></li>
											</ul>
										</div>
									</div>
								</li>
								<li class="list-buttons">
									<a href="register.html"><i class="bi bi-geo-alt fs-6 me-1"></i>Add Listing</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			
			<!-- Offcanvas Menu -->
			<div class="offcanvas offcanvas-end offcanvas-menu bg-dark" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
				<div class="offcanvas-header">
					<button type="button" class="btn-closes" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
				</div>
				<div class="offcanvas-body px-0" id="offcanvasExampleLabel">
					<ul>
						<li><a href="dashboard-user.html" class="active"><i class="bi bi-speedometer me-2"></i>Dashboard Area</a></li>
						<li><a href="dashboard-my-profile.html"><i class="bi bi-person-lines-fill me-2"></i>My Profile</a></li>
						<li><a href="dashboard-my-bookings.html"><i class="bi bi-journal-check me-2"></i>My Bookings</a></li>
						<li><a href="dashboard-my-listings.html"><i class="bi bi-ui-radios-grid me-2"></i>My Listings</a></li>
						<li><a href="dashboard-bookmarks.html"><i class="bi bi-bookmark-star me-2"></i>Bookmarkes</a></li>
						<li><a href="dashboard-messages.html"><i class="bi bi-chat-dots me-2"></i>Messages<span class="notti_coun bg-success">3</span></a></li>
						<li><a href="dashboard-reviews.html"><i class="bi bi-yelp me-2"></i>Reviews</a></li>
						<li><a href="dashboard-wallet.html"><i class="bi bi-wallet me-2"></i>Wallet</a></li>
						<li><a href="dashboard-add-listing.html"><i class="bi bi-patch-plus me-2"></i>Add Listing</a></li>
					</ul>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			
			<!-- ============================ Dashboard Start ================================== -->
			<section class="p-0">
				<div class="container-fluid p-0">
					<div class="row user-dashboard g-0">
						
						<!-- Dashboard Sidebar -->
						<div class="col-xl-2 col-lg-3 col-md-12">
							<div class="user-dashboard-inner h-100 border-end bg-dark border-2 py-5 d-lg-block d-none">
								<div class="dashboard_users mb-4">
									<div class="square--80 circle mx-auto mb-1"><img src="assets/img/team-2.jpg" class="img-fluid circle" alt="User Image"></div>
									<div class="user-nameTitle text-center">
										<h4 class="lh-base fw-medium text-white mb-0">Welcome Back</h4>
										<h6 class="text-white fw-normal opacity-75 mb-0">Themez Hub</h6>
									</div>
								</div>
								<div class="user-Dashboard-menu">
									<ul>
										<li><a href="dashboard-user.html"><i class="bi bi-speedometer me-2"></i>Dashboard Area</a></li>
										<li><a href="dashboard-my-profile.html" class="active"><i class="bi bi-person-lines-fill me-2"></i>My Profile</a></li>
										<li><a href="dashboard-my-bookings.html"><i class="bi bi-journal-check me-2"></i>My Bookings</a></li>
										<li><a href="dashboard-my-listings.html"><i class="bi bi-ui-radios-grid me-2"></i>My Listings</a></li>
										<li><a href="dashboard-bookmarks.html"><i class="bi bi-bookmark-star me-2"></i>Bookmarkes</a></li>
										<li><a href="dashboard-messages.html"><i class="bi bi-chat-dots me-2"></i>Messages<span class="notti_coun bg-success">3</span></a></li>
										<li><a href="dashboard-reviews.html"><i class="bi bi-yelp me-2"></i>Reviews</a></li>
										<li><a href="dashboard-wallet.html"><i class="bi bi-wallet me-2"></i>Wallet</a></li>
										<li><a href="dashboard-add-listing.html"><i class="bi bi-patch-plus me-2"></i>Add Listing</a></li>
									</ul>
								</div>
							</div>
						</div>
						
						<!-- Dashboard Content -->
						<div class="col-xl-10 col-lg-9 col-md-12">
							<div class="user-dashboard-box bg-light">
								
								<!-- Dashboard Title -->
								<div class="dashHeader p-xl-5 p-4 pb-xl-0 pb-0">
									<h2 class="fw-medium mb-0">My Profile</h2>
								</div>
								
								<!-- Dashboard Details -->
								<div class="dashCaption p-xl-5 p-3 p-md-4">
									
									<!-- Row Start -->
									<div class="row align-items-start g-4 mb-lg-5 mb-4">
										<div class="col-xl-8 col-lg-8 col-md-7">
											
											<!-- User Profile Area -->
											<div class="card rounded-3 shadow-sm mb-lg-5 mb-4">
												<div class="card-body p-4">
												
													<div class="row align-items-start">
														<div class="col-xl-12 col-lg-12 col-md-12 col-12">
															<div class="cardTitle d-flex align-items-center justify-content-start mb-3">
																<h6 class="fw-semibold">Agent Basic information</h6>
															</div>
														</div>
													</div>
													
													<!-- Form -->
													<div class="row align-items-start">
													
														<div class="col-xl-6 col-lg-6 col-md-6">
															<div class="form-group">
																<label>First Name</label>
																<input type="text" class="form-control" placeholder="Daniel">
															</div>
														</div>
														
														<div class="col-xl-6 col-lg-6 col-md-6">
															<div class="form-group">
																<label>Last Name</label>
																<input type="text" class="form-control" placeholder="Decuze">
															</div>
														</div>
														
														<div class="col-xl-6 col-lg-6 col-md-6">
															<div class="form-group">
																<label>Phone</label>
																<input type="tel" class="form-control" placeholder="5684526582">
															</div>
														</div>
														
														<div class="col-xl-6 col-lg-6 col-md-6">
															<div class="form-group">
																<label>Email</label>
																<input type="email" class="form-control" placeholder="danieldecuze@gmail.com">
															</div>
														</div>
														
														<div class="col-xl-12 col-lg-12 col-md-12">
															<div class="form-group">
																<label>Member of</label>
																<input type="text" class="form-control" placeholder="Daniel">
															</div>
														</div>
														
														<div class="col-xl-12 col-lg-12 col-md-12">
															<div class="form-group">
																<label>About Me</label>
																<textarea class="form-control"></textarea>
															</div>
														</div>
														
													</div>
													
												</div>
											</div>
											
											<!-- Contact Information Wrap -->
											<div class="card rounded-3 shadow-sm mb-lg-5 mb-4">
												<div class="card-body p-4">
													
													<!-- Contact Information Form -->
													<div class="row align-items-start">
														<div class="col-xl-12 col-lg-12 col-md-12 col-12">
															<div class="cardTitle d-flex align-items-center justify-content-start mb-3">
																<h6 class="fw-semibold">Contact Information</h6>
															</div>
														</div>
													</div>
													
													<!-- Form -->
													<div class="row align-items-start mb-4">
													
														<div class="col-xl-12 col-lg-12 col-md-12">
															<div class="form-group">
																<label>Address 1</label>
																<input type="text" class="form-control" placeholder="123 Moobek Marg, Sirathu">
															</div>
														</div>
														
														<div class="col-xl-6 col-lg-6 col-md-6">
															<div class="form-group">
																<label>City</label>
																<input type="text" class="form-control" placeholder="Denver">
															</div>
														</div>
														
														<div class="col-xl-6 col-lg-6 col-md-6">
															<div class="form-group">
																<label>State</label>
																<input type="tel" class="form-control" placeholder="New York">
															</div>
														</div>
														
														<div class="col-xl-6 col-lg-6 col-md-6">
															<div class="form-group">
																<label>Country</label>
																<input type="text" class="form-control" placeholder="United State">
															</div>
														</div>
														
														<div class="col-xl-6 col-lg-6 col-md-6">
															<div class="form-group">
																<label>Zip Code</label>
																<input type="text" class="form-control" placeholder="HQ4560R">
															</div>
														</div>
														
														<div class="col-xl-6 col-lg-6 col-md-6">
															<div class="form-group">
																<label>Latitude</label>
																<input type="text" class="form-control" placeholder="+568452568">
															</div>
														</div>
														
														<div class="col-xl-6 col-lg-6 col-md-6">
															<div class="form-group">
																<label>Longitude</label>
																<input type="text" class="form-control" placeholder="-45695824">
															</div>
														</div>
														
													</div>
													
													<!-- Contact Information Form -->
													<div class="row align-items-start">
														<div class="col-xl-12 col-lg-12 col-md-12 col-12">
															<div class="cardTitle d-flex align-items-center justify-content-start mb-3">
																<h6 class="fw-semibold">Social Accounts</h6>
															</div>
														</div>
													</div>
													
													<!-- Form -->
													<div class="row align-items-start">
													
														<div class="col-xl-6 col-lg-6 col-md-6">
															<div class="form-group">
																<label>Facebook</label>
																<input type="text" class="form-control" placeholder="">
															</div>
														</div>
														
														<div class="col-xl-6 col-lg-6 col-md-6">
															<div class="form-group">
																<label>Twitter</label>
																<input type="text" class="form-control">
															</div>
														</div>
														
														<div class="col-xl-6 col-lg-6 col-md-6">
															<div class="form-group">
																<label>LinkedIn</label>
																<input type="tel" class="form-control">
															</div>
														</div>
														
														<div class="col-xl-6 col-lg-6 col-md-6">
															<div class="form-group">
																<label>Dribbble</label>
																<input type="text" class="form-control">
															</div>
														</div>
														
														<div class="col-xl-6 col-lg-6 col-md-6">
															<div class="form-group">
																<label>Pinterest</label>
																<input type="text" class="form-control">
															</div>
														</div>
														
														<div class="col-xl-6 col-lg-6 col-md-6">
															<div class="form-group">
																<label>Vimeo URL</label>
																<input type="text" class="form-control">
															</div>
														</div>
														
														<div class="col-xl-6 col-lg-6 col-md-6">
															<div class="form-group">
																<label>Youtube URL</label>
																<input type="text" class="form-control">
															</div>
														</div>
														
														<div class="col-xl-6 col-lg-6 col-md-6">
															<div class="form-group">
																<label>Website URL</label>
																<input type="text" class="form-control">
															</div>
														</div>
														
														<div class="col-xl-12 col-lg-12 col-md-12">
															<div class="d-flex align-items-center justify-content-start flex-wrap gap-3 mt-3">
																<button class="btn btn-primary fw-medium flex-fill" type="button">Update Profile</button>
																<button class="btn btn-light-primary fw-medium flex-fill" type="button">Reset Profile</button>
															</div>
														</div>
														
													</div>
													
												</div>
											</div>
											
											<!-- Contact Information Wrap -->
											<div class="card rounded-3 shadow-sm">
												<div class="card-body p-4">
													
													<!-- Contact Information Form -->
													<div class="row align-items-start">
														<div class="col-xl-12 col-lg-12 col-md-12 col-12">
															<div class="cardTitle d-flex align-items-center justify-content-start mb-3">
																<h6 class="fw-semibold">Update Password</h6>
															</div>
														</div>
													</div>
													
													<!-- Form -->
													<div class="row align-items-start">
													
														<div class="col-xl-12 col-lg-12 col-md-12">
															<div class="form-group">
																<label>Old Password</label>
																<input type="password" class="form-control" placeholder="">
															</div>
														</div>
														
														<div class="col-xl-6 col-lg-6 col-md-6">
															<div class="form-group">
																<label>New Password</label>
																<input type="password" class="form-control" placeholder="">
															</div>
														</div>
														
														<div class="col-xl-6 col-lg-6 col-md-6">
															<div class="form-group">
																<label>Confirm Password</label>
																<input type="password" class="form-control" placeholder="">
															</div>
														</div>
														
														<div class="col-xl-12 col-lg-12 col-md-12">
															<div class="d-flex align-items-center justify-content-start flex-wrap gap-3 mt-3">
																<button class="btn btn-primary fw-medium flex-fill" type="button">Update Password</button>
																<button class="btn btn-light-primary fw-medium flex-fill" type="button">Delete Account</button>
															</div>
														</div>
														
													</div>
													
												</div>
											</div>
											
										</div>
										
										<div class="col-xl-4 col-lg-4 col-md-5">
											<div class="card rounded-3 shadow-sm">
												<div class="card-body py-5 p-4">
													<div class="dash-prf-start d-flex flex-column align-items-start justify-content-start">
														<div class="dash-prf-start-upper mx-auto">
															<div class="dash-prf-start-thumb w-40 h-40 mb-2">
																<figure><img src="assets/img/team-2.jpg" class="img-fluid circle" alt=""></figure>
															</div>
														</div>
														<div class="dash-prf-start-bottom mx-auto mt-3">
															<div class="upload-btn-wrapper small">
																<button class="btn btn-md btn-light-primary fw-medium">Change Profile Image</button>
																<input type="file" name="myfile">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Row End -->
									
									<!-- Row Start -->
									<div class="row align-items-start g-4">
										<div class="col-xl-12 col-lg-12 col-md-12">
											<p class="text-muted m-0">©ListingHub 2025 Design By Themezhub</p>
										</div>
									</div>
									
								</div>
								
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<!-- ============================ Dashboard End ================================== -->


			<!-- Cart Slider Wrap -->
			<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="cartSlider" aria-labelledby="cartSliderLabel">
				<div class="offcanvas-header border-bottom">
					<h6 class="offcanvas-title" id="cartSliderLabel">Your cart Items</h6>
					<a href="JavaScript:Void(0);" class="square--35 circle text-muted-2 border" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-x"></i></a>
				</div>
				<div class="offcanvas-body">
					<div class="cartItems w-100">
						<div class="d-flex align-items-center justify-content-start flex-column gap-3">
							
							<!-- Single Item -->
							<div class="singleCartitem d-flex align-items-center justify-content-between gap-4 w-100">
								<div class="d-flex align-items-center justify-content-start gap-3">
									<div class="cartiteThumb"><figure class="d-block m-0"><img src="assets/img/list-3.jpg" class="img-fluid rounded-2" width="60" alt=""></figure></div>
									<div class="cartCaption">
										<h6 class="lh-base m-0">Spicy Burger</h6>
										<p class="m-0">1x$25.50</p>
									</div>
								</div>
								
								<div class="removeItemcart"><a href="dashboard-my-profile.html" class="square--35 circle badge-danger"><i class="bi bi-x"></i></a></div>
							</div>
							
							<!-- Single Item -->
							<div class="singleCartitem d-flex align-items-center justify-content-between gap-3 w-100">
								<div class="d-flex align-items-center justify-content-start gap-3">
									<div class="cartiteThumb"><figure class="d-block m-0"><img src="assets/img/list-4.jpg" class="img-fluid rounded-2" width="60" alt=""></figure></div>
									<div class="cartCaption">
										<h6 class="lh-base m-0">Premium Package</h6>
										<p class="m-0">1x$22.10</p>
									</div>
								</div>
								
								<div class="removeItemcart"><a href="dashboard-my-profile.html" class="square--35 circle badge-danger"><i class="bi bi-x"></i></a></div>
							</div>
							
							<!-- Single Item -->
							<div class="singleCartitem d-flex align-items-center justify-content-between gap-3 w-100">
								<div class="d-flex align-items-center justify-content-start gap-3">
									<div class="cartiteThumb"><figure class="d-block m-0"><img src="assets/img/list-5.jpg" class="img-fluid rounded-2" width="60" alt=""></figure></div>
									<div class="cartCaption">
										<h6 class="lh-base m-0">Platinum Plaster</h6>
										<p class="m-0">1x$17.40</p>
									</div>
								</div>
								
								<div class="removeItemcart"><a href="dashboard-my-profile.html" class="square--35 circle badge-danger"><i class="bi bi-x"></i></a></div>
							</div>
						
						</div>
						
						<div class="cartSubtotal w-100 py-3 border-top mt-3">
							<h6 class="m-0">Subtotal: $128.75</h6>
						</div>
						
					</div>
					
					<div class="cartButtons w-100 py-2">
						<div class="d-flex align-items-center justify-content-center flex-wrap gap-2">
							<a href="viewcart.html" class="btn btn-md btn-light-primary fw-medium flex-fill">View Cart</a>
							<a href="checkout-page.html" class="btn btn-md btn-primary fw-medium flex-fill">Checkout</a>
						</div>
					</div>
				</div>
			</div>
			 
			<!-- Search Slider Wrap  -->
			<div class="offcanvas offcanvas-top h-auto" tabindex="-1" id="searchSlider" aria-labelledby="searchSliderLabel">
				<div class="offcanvas-body" id="searchSliderLabel">
					<div class="searchForm w-100 mb-3">
						<div class="p-2 ps-3 rounded border d-flex align-items-center justify-content-between gap-2">
							<div class="searchicons"><span><i class="bi bi-search fs-4 opacity-75"></i></span></div>
							<div class="flex-fill"><input type="search" class="form-control border-0 ps-0" placeholder="What are you looking for?"></div>
							<div class="closeSlides"><a href="JavaScript:Void(0);" class="square--35 circle text-muted-2 border" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-x"></i></a></div>
						</div>
					</div>
					<div class="popularSearches d-flex align-items-center justify-content-center gap-2 flex-wrap">
						<div class="singleItem"><a href="dashboard-my-profile.html#" class="badge badge-xs badge-primary rounded-pill">Real Estate</a></div>	
						<div class="singleItem"><a href="dashboard-my-profile.html#" class="badge badge-xs badge-primary rounded-pill">Eat & Drink</a></div>	
						<div class="singleItem"><a href="dashboard-my-profile.html#" class="badge badge-xs badge-primary rounded-pill">Shopping</a></div>	
						<div class="singleItem"><a href="dashboard-my-profile.html#" class="badge badge-xs badge-primary rounded-pill">Nightlife</a></div>	
						<div class="singleItem"><a href="dashboard-my-profile.html#" class="badge badge-xs badge-primary rounded-pill">Services</a></div>	
					</div>
				</div>
			</div>

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->


		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="assets/js/vendors.js"></script>

		<script src="assets/js/custom.js"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->

	</body>

</html>