<!doctype html>
<html lang="en" data-bs-theme="auto">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="ListingHub - Business Directory HTML Template By Themezhub">
		<meta name="author" content="Themezhub">
		
		<title>ListingHub Business Listing HTML Template By Themezhub</title>
		<link rel="icon" type="image/x-icon" href="assets/img/favicon.png">

		<!-- All Plugins -->
		<link href="assets/css/vendors.css" rel="stylesheet">

		<!-- Icons CSS -->
		<link href="assets/css/icons.css" rel="stylesheet">
		

		<!-- Custom CSS -->
		<link href="assets/css/style.css" rel="stylesheet">
	</head>

	<body>
		<!-- ============================================================== -->
		<!-- Preloader - style you can find in spinners.css -->
		<!-- ============================================================== -->
		<div id="preloader">
			<div class="preloader"><span></span><span></span></div>
		</div>

		<!-- ============================================================== -->
		<!-- Main wrapper - style you can find in pages.scss -->
		<!-- ============================================================== -->
		<div id="main-wrapper">

			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			<!-- Start Navigation -->
			<div class="header header-light" data-sticky-element="">
				<div class="container">
					<nav id="navigation" class="navigation navigation-landscape">
						<div class="nav-header">					
							<a class="nav-brand light-mode-item" href="elements.html#">
								<img src="assets/img/logo.svg" class="logo main-logo" alt="">
								<img src="assets/img/logo.svg" class="logo change-logo " alt="">
								<img src="assets/img/logo.svg" class="logo mobile-logo" alt="">
							</a>
							<a class="nav-brand dark-mode-item" href="elements.html#">
								<img src="assets/img/logo-light.svg" class="logo main-logo" alt="">
								<img src="assets/img/logo-light.svg" class="logo change-logo" alt="">
								<img src="assets/img/logo-light.svg" class="logo mobile-logo" alt="">
							</a>
							<div class="nav-toggle"></div>
							<div class="mobile_nav">
								<ul>
									<li>
										<a href="elements.html#" class="d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#login"><i class="bi bi-person-circle me-1"></i></a>
									</li>
									<li>
										<a href="elements.html#cartSlider" class="cart-content" data-bs-toggle="offcanvas" role="button" aria-controls="cartSlider"><i class="bi bi-basket2"></i><span class="head-cart-counter">3</span></a>
									</li>
									<li>
										<a href="elements.html#searchSlider" class="d-flex align-items-center" data-bs-toggle="offcanvas" role="button" aria-controls="searchSlider"><i class="bi bi-search me-1"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="nav-menus-wrapper">
							<ul class="nav-menu">

								<li class="active"><a href="JavaScript:Void(0);">Home<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li><a href="index.html">City Directory<span class="badge md badge-success ms-2">New</span></a></li>
										<li><a href="home-2.html">Restaurant & Cafe<span class="badge md badge-danger ms-2">Popular</span></a></li>
										<li><a href="home-3.html">Medical & Doctors</a></li>
										<li><a href="home-4.html">Hotel & Travel Listing<span class="badge md badge-info ms-2">Hot</span></a></li>
										<li><a href="home-5.html">Real Estate Listing<span class="badge md badge-success ms-2">Trending</span></a></li>
										<li><a href="home-6.html">Event & Party Directory</a></li>
										<li><a href="home-7.html">Global Startup</a></li>
										<li><a href="home-8.html">Home Layout 08</a></li>
										<li><a href="home-9.html">Home Layout 09</a></li>
										<li><a href="home-10.html">Home Layout 10</a></li>
										<li><a href="home-splash.html">Home Splash</a></li>
										<li><a href="home-map.html">Home Map Layout</a></li>
									</ul>
								</li>

								<li><a href="JavaScript:Void(0);">Listings<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li><a href="JavaScript:Void(0);">Grid Layouts<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="grid-layout-01.html">Grid Layout 01</a></li>                                    
												<li><a href="grid-layout-02.html">Grid Layout 02</a></li>                                    
												<li><a href="grid-layout-03.html">Grid Layout 03</a></li>                                    
												<li><a href="grid-layout-04.html">Grid Layout 04</a></li>                                    
												<li><a href="grid-layout-05.html">Grid Layout 05</a></li>                                    
												<li><a href="grid-layout-06.html">Grid Layout 06</a></li>                                    
											</ul>
										</li>
										<li><a href="JavaScript:Void(0);">List Layouts<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="list-layout-01.html">List Layout 01</a></li>                                     
												<li><a href="list-layout-02.html">List Layout 02</a></li>                                     
												<li><a href="list-layout-03.html">List Layout 03</a></li>                                     
												<li><a href="list-layout-04.html">List Layout 04</a></li>                                     
												<li><a href="list-layout-05.html">List Layout 05</a></li>                                     
											</ul>
										</li>
										<li><a href="JavaScript:Void(0);">Half Map Screen<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="half-map-01.html">Half Map Screen 01</a></li>
												<li><a href="half-map-02.html">Half Map Screen 02</a></li>
												<li><a href="half-map-03.html">Half Map Screen 03</a></li>
												<li><a href="half-map-04.html">Half Map Screen 04</a></li>
												<li><a href="half-map-05.html">Half Map Screen 05</a></li>
											</ul>
										</li>
										<li><a href="JavaScript:Void(0);">Single Listings<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="single-listing-01.html">Single Listing 01</a></li>
												<li><a href="single-listing-02.html">Single Listing 02</a></li>
												<li><a href="single-listing-03.html">Single Listing 03</a></li>
												<li><a href="single-listing-04.html">Single Listing 04</a></li>
												<li><a href="single-listing-05.html">Single Listing 05</a></li>
											</ul>
										</li>
									</ul>
								</li>

								<li><a href="JavaScript:Void(0);">User Dashboard<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li><a href="dashboard-user.html"><i class="bi bi-speedometer me-1"></i>Dashboard Area</a></li>
										<li><a href="dashboard-my-profile.html"><i class="bi bi-person-lines-fill me-1"></i>My Profile</a></li>
										<li><a href="dashboard-my-bookings.html"><i class="bi bi-journal-check me-1"></i>My Bookings</a></li>
										<li><a href="dashboard-my-listings.html"><i class="bi bi-ui-radios-grid me-1"></i>My Listings</a></li>
										<li><a href="dashboard-bookmarks.html"><i class="bi bi-bookmark-star me-1"></i>Bookmarkes</a></li>
										<li><a href="dashboard-messages.html"><i class="bi bi-chat-dots me-1"></i>Messages</a></li>
										<li><a href="dashboard-reviews.html"><i class="bi bi-yelp me-1"></i>Reviews</a></li>
										<li><a href="dashboard-wallet.html"><i class="bi bi-wallet me-1"></i>Wallet</a></li>
										<li><a href="dashboard-add-listing.html"><i class="bi bi-patch-plus me-1"></i>Add Listing</a></li>
									</ul>
								</li>

								<li><a href="JavaScript:Void(0);">Pages<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li><a href="JavaScript:Void(0);"><i class="bi bi-person-circle me-1"></i>My Account<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="login.html"><i class="bi bi-box-arrow-in-right me-1"></i>User Login</a></li>
												<li><a href="register.html"><i class="bi bi-person-plus me-1"></i>Signup Page</a></li>
												<li><a href="forgot-password.html"><i class="bi bi-question-circle me-1"></i>Forget Password</a></li>
												<li><a href="two-factor-auth.html"><i class="bi bi-shield-check me-1"></i>Two Step verification</a></li>
											</ul>
										</li>
										<li><a href="author-profile.html"><i class="bi bi-person-vcard me-1"></i>Author Profile</a></li>
										<li><a href="booking-page.html"><i class="bi bi-calendar2-check me-1"></i>Booking Page</a></li>
										<li><a href="about-us.html"><i class="bi bi-person-check me-1"></i>About Us</a></li>                                
										<li><a href="blog.html"><i class="bi bi-blockquote-left me-1"></i>Blog Page</a></li>
										<li><a href="contact-us.html"><i class="bi bi-envelope-check me-1"></i>Contact Us</a></li>
										<li><a href="pricing.html"><i class="bi bi-coin me-1"></i>Pricing</a></li>										
										<li><a href="help-center.html"><i class="bi bi-patch-question me-1"></i>Help Center</a></li>
										<li><a href="comingsoon.html"><i class="bi bi-hourglass-top me-1"></i>Coming Soon</a></li>
										<li><a href="faq.html"><i class="bi bi-info-circle me-1"></i>FAQ's</a></li>
										<li><a href="error.html"><i class="bi bi-x-octagon me-1"></i>Error Page</a></li>
										<li><a href="elements.html"><i class="bi bi-gear me-1"></i>Elements</a></li>
									</ul>
								</li>
								
								<li class="addButton"><a class="mob-addlisting" href="JavaScript:Void(0);"><i class="bi bi-geo-alt-fill me-1"></i>Add Listing</a></li>

							</ul>

							<ul class="nav-menu nav-menu-social align-to-right">
								<li>
									<a href="elements.html#" class="d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#login"><i class="bi bi-person-circle fs-6 me-1"></i><span class="navCl">SignUp or SignIn</span></a>
								</li>
								<li>
									<a href="elements.html#cartSlider" class="cart-content" data-bs-toggle="offcanvas" role="button" aria-controls="cartSlider"><i class="bi bi-basket2"></i><span class="head-cart-counter">3</span></a>
								</li>
								<li class="list-buttons">
									<a href="register.html"><i class="bi bi-patch-plus-fill me-2"></i>Add Listing</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			
			<!-- ============================ Page Title Start================================== -->
			<section class="bg-light">
				<div class="container">

					<!-- Search Form -->
					<div class="row justify-content-start align-items-center">
						<div class="col-xl-7 col-lg-9 col-md-12 col-sm-12">
							<div class="position-relative">
								<h1 class="xl-heading">Elements</h1>
								<nav id="breadcrumbs" class="breadcrumbs">
									<ul>
										<li><a href="elements.html#">Home</a></li>
										<li><a href="elements.html#">Pages</a></li>
										<li>Elements</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
					<!-- </row> -->

				</div>
			</section>
			<!-- ============================ Page Title End ================================== -->
			
			
			<!-- ============================ All Elements Start ================================== -->
			<section>
			
				<div class="container">
					
					<!-- row -->
					<div class="row align-items-start g-4 mb-5">
					
						<div class="col-xl-6 col-lg-6 col-md-6">
							<div class="elementWrap">
								<div class="elementTitle mb-3"><h4 class="fw-medium mb-1">Buttons</h4></div>
								<div class="elementContent">
									<div class="d-flex align-items-start gap-3 flex-wrap">
										<a href="elements.html#" class="btn btn-primary rounded-pill">Filled Button</a>
										<a href="elements.html#" class="btn btn-primary rounded-pill"><i class="bi bi-twitter me-2"></i>Filled Icon Button</a>
										<a href="elements.html#" class="btn btn-outline-primary rounded-pill">Border Button</a>
										<a href="elements.html#" class="btn btn-outline-primary rounded-pill"><i class="bi bi-twitter me-2"></i>Border Icon Button</a>
										<a href="elements.html#" class="btn btn-light-primary rounded-pill">Light Button</a>
										<a href="elements.html#" class="btn btn-light-primary rounded-pill"><i class="bi bi-twitter me-2"></i>Light Icon Button</a>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-xl-6 col-lg-6 col-md-6">
							<div class="elementWrap">
								<div class="elementTitle mb-3"><h4 class="fw-medium mb-1">Notifications</h4></div>
								<div class="elementContent">
									<div class="alert alert-primary">
										A simple primary alert—check it out!
									</div>
									<div class="alert alert-success">
										A simple success alert—check it out!
									</div>
									<div class="alert alert-primary alert-dismissible fade show">
										You should check in on some of those fields below.
										<a class="close" data-bs-dismiss="alert" aria-label="Close"></a>
									</div>
								</div>
							</div>
						</div>

					</div>
					<!-- /row -->
					
					<!-- row -->
					<div class="row align-items-start g-4 mb-5">
					
						<div class="col-xl-6 col-lg-6 col-md-6">
							<div class="elementWrap">
								<div class="elementTitle mb-3"><h4 class="fw-medium mb-1">Badges</h4></div>
								<div class="elementContent">
								
									<div class="d-flex align-items-start gap-3 mb-3">
										<span class="badge badge-primary rounded-pill">Primary</span>
										<span class="badge badge-info rounded-pill">Info</span>
										<span class="badge badge-secondary rounded-pill">secondary</span>
										<span class="badge badge-success rounded-pill">success</span>
										<span class="badge badge-danger rounded-pill">Danger</span>
										<span class="badge badge-dark rounded-pill">Dark</span>
									</div>
									
									<div class="d-flex align-items-start gap-3 mb-3">
										<span class="badge badge-xs badge-primary rounded-pill">Primary</span>
										<span class="badge badge-xs badge-info rounded-pill">Info</span>
										<span class="badge badge-xs badge-secondary rounded-pill">secondary</span>
										<span class="badge badge-xs badge-success rounded-pill">success</span>
										<span class="badge badge-xs badge-danger rounded-pill">Danger</span>
										<span class="badge badge-xs badge-dark rounded-pill">Dark</span>
									</div>
									
								</div>
							</div>
						</div>
						
						<div class="col-xl-6 col-lg-6 col-md-6">
							<div class="elementWrap">
								<div class="elementTitle mb-3"><h4 class="fw-medium mb-1">Forms Elements</h4></div>
								<div class="elementContent">
									<div class="form-group mb-2">
										<input type="text" class="form-control" placeholder="Your text here">
									</div>
									
									<h6>With Icons</h6>
									<div class="form-group">
										<div class="formField icons">
											<input type="text" class="form-control" placeholder="Your text here">
											<i class="bi bi-search icon"></i>
										</div>
									</div>
									
									<h6>Select Form</h6>
									<div class="form-group">
										<select class="select form-control">
										  <option value="">Choose Option</option> 
										  <option value="lv">Eat & Drinking</option>
										  <option value="la">Rental Property</option>
										  <option value="kc">Classifieds</option>
										  <option value="no">Bank Services</option>
										  <option value="kc">Shopping</option>
										  <option value="lb">Fintess & Gym</option>
										  <option value="cl">Coaching</option>
										  <option value="cn">Other Services</option>
										</select>
									</div>
									
									<h6>Multi Selection</h6>
									<div class="form-group">
										<select class="select form-control" multiple="">
										  <option value="">Choose Option</option> 
										  <option value="lv" selected>Eat & Drinking</option>
										  <option value="la">Rental Property</option>
										  <option value="kc" selected>Classifieds</option>
										  <option value="no">Bank Services</option>
										  <option value="kc">Shopping</option>
										  <option value="lb">Fintess & Gym</option>
										  <option value="cl">Coaching</option>
										  <option value="cn">Other Services</option>
										</select>
									</div>
									
								</div>
							</div>
						</div>

					</div>
					<!-- /row -->
					
					<!-- row -->
					<div class="row align-items-start g-4 mb-5">
					
						<div class="col-xl-6 col-lg-6 col-md-6">
							<div class="elementWrap">
								<div class="elementTitle mb-3"><h4 class="fw-medium mb-1">Tab 01</h4></div>
								<div class="elementContent">
									<ul class="nav nav-tabs simple-tabs" id="myTab" role="tablist">
										<li class="nav-item" role="presentation">
											<button class="nav-link active" id="design" data-bs-toggle="tab" data-bs-target="#design-pane" type="button" role="tab" aria-controls="design-pane" aria-selected="true">Design</button>
										</li>
										<li class="nav-item" role="presentation">
											<button class="nav-link" id="development" data-bs-toggle="tab" data-bs-target="#development-pane" type="button" role="tab" aria-controls="development-pane" aria-selected="false">Development</button>
										</li>
										<li class="nav-item" role="presentation">
											<button class="nav-link" id="contact" data-bs-toggle="tab" data-bs-target="#contact-pane" type="button" role="tab" aria-controls="contact-pane" aria-selected="false">Contact</button>
										</li>
									</ul>
									<div class="tab-content py-3" id="myTabContent">
										<div class="tab-pane fade show active" id="design-pane" role="tabpanel" aria-labelledby="design" tabindex="0"><p>Do you like Cheese Whiz? Spray tan? Fake eyelashes? That's what is Lorem Ipsum to many—it rubs them the wrong way, all the way. It's unreal, uncanny, makes you wonder if something is wrong, it seems to seek your attention for all the wrong reasons. Usually, we prefer the real thing, wine without sulfur based preservatives, real butter, not margarine, and so we'd like our layouts and designs</p></div>
										<div class="tab-pane fade" id="development-pane" role="tabpanel" aria-labelledby="development-tab" tabindex="0"><p>Do you like Cheese Whiz? Spray tan? Fake eyelashes? That's what is Lorem Ipsum to many—it rubs them the wrong way, all the way. It's unreal, uncanny, makes you wonder if something is wrong, it seems to seek your attention for all the wrong reasons. Usually, we prefer the real thing, wine without sulfur based preservatives, real butter, not margarine, and so we'd like our layouts and designs</p></div>
										<div class="tab-pane fade" id="contact-pane" role="tabpanel" aria-labelledby="contact" tabindex="0"><p>Do you like Cheese Whiz? Spray tan? Fake eyelashes? That's what is Lorem Ipsum to many—it rubs them the wrong way, all the way. It's unreal, uncanny, makes you wonder if something is wrong, it seems to seek your attention for all the wrong reasons. Usually, we prefer the real thing, wine without sulfur based preservatives, real butter, not margarine, and so we'd like our layouts and designs</p></div>
									</div>	
								</div>
							</div>
						</div>
						
						<div class="col-xl-6 col-lg-6 col-md-6">
							<div class="elementWrap">
								<div class="elementTitle mb-3"><h4 class="fw-medium mb-1">Tab 02</h4></div>
								<div class="elementContent">
									<ul class="nav nav-pills primary-soft mb-3" id="pills-tab" role="tablist">
										<li class="nav-item" role="presentation">
											<button class="nav-link active" id="home-tab" data-bs-toggle="pill" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
										</li>
										<li class="nav-item" role="presentation">
											<button class="nav-link" id="profile-tab" data-bs-toggle="pill" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
										</li>
										<li class="nav-item" role="presentation">
											<button class="nav-link" id="account-tab" data-bs-toggle="pill" data-bs-target="#account" type="button" role="tab" aria-controls="account" aria-selected="false">Account</button>
										</li>
									</ul>
									<div class="tab-content" id="pills-tabContent">
									  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" tabindex="0"><p>Do you like Cheese Whiz? Spray tan? Fake eyelashes? That's what is Lorem Ipsum to many—it rubs them the wrong way, all the way. It's unreal, uncanny, makes you wonder if something is wrong, it seems to seek your attention for all the wrong reasons. Usually, we prefer the real thing, wine without sulfur based preservatives, real butter, not margarine, and so we'd like our layouts and designs</p></div>
									  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab" tabindex="0"><p>Do you like Cheese Whiz? Spray tan? Fake eyelashes? That's what is Lorem Ipsum to many—it rubs them the wrong way, all the way. It's unreal, uncanny, makes you wonder if something is wrong, it seems to seek your attention for all the wrong reasons. Usually, we prefer the real thing, wine without sulfur based preservatives, real butter, not margarine, and so we'd like our layouts and designs</p></div>
									  <div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="account-tab" tabindex="0"><p>Do you like Cheese Whiz? Spray tan? Fake eyelashes? That's what is Lorem Ipsum to many—it rubs them the wrong way, all the way. It's unreal, uncanny, makes you wonder if something is wrong, it seems to seek your attention for all the wrong reasons. Usually, we prefer the real thing, wine without sulfur based preservatives, real butter, not margarine, and so we'd like our layouts and designs</p></div>
									</div>	
								</div>
							</div>
						</div>
						
						<div class="col-xl-6 col-lg-6 col-md-6">
							<div class="elementWrap">
								<div class="elementTitle mb-3"><h4 class="fw-medium mb-1">Tab 03</h4></div>
								<div class="elementContent">
									<ul class="nav nav-pills lightprimary mb-3" id="pills-tab1" role="tablist">
										<li class="nav-item" role="presentation">
											<button class="nav-link active" id="home1-tab" data-bs-toggle="pill" data-bs-target="#home1" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
										</li>
										<li class="nav-item" role="presentation">
											<button class="nav-link" id="profile1-tab" data-bs-toggle="pill" data-bs-target="#profile1" type="button" role="tab" aria-controls="profile1" aria-selected="false">Profile</button>
										</li>
										<li class="nav-item" role="presentation">
											<button class="nav-link" id="account1-tab" data-bs-toggle="pill" data-bs-target="#account1" type="button" role="tab" aria-controls="account1" aria-selected="false">Account</button>
										</li>
									</ul>
									<div class="tab-content" id="pills-tabContent">
									  <div class="tab-pane fade show active" id="home1" role="tabpanel" aria-labelledby="home1-tab" tabindex="0"><p>Do you like Cheese Whiz? Spray tan? Fake eyelashes? That's what is Lorem Ipsum to many—it rubs them the wrong way, all the way. It's unreal, uncanny, makes you wonder if something is wrong, it seems to seek your attention for all the wrong reasons. Usually, we prefer the real thing, wine without sulfur based preservatives, real butter, not margarine, and so we'd like our layouts and designs</p></div>
									  <div class="tab-pane fade" id="profile1" role="tabpanel" aria-labelledby="profile1-tab" tabindex="0"><p>Do you like Cheese Whiz? Spray tan? Fake eyelashes? That's what is Lorem Ipsum to many—it rubs them the wrong way, all the way. It's unreal, uncanny, makes you wonder if something is wrong, it seems to seek your attention for all the wrong reasons. Usually, we prefer the real thing, wine without sulfur based preservatives, real butter, not margarine, and so we'd like our layouts and designs</p></div>
									  <div class="tab-pane fade" id="account1" role="tabpanel" aria-labelledby="account1-tab" tabindex="0"><p>Do you like Cheese Whiz? Spray tan? Fake eyelashes? That's what is Lorem Ipsum to many—it rubs them the wrong way, all the way. It's unreal, uncanny, makes you wonder if something is wrong, it seems to seek your attention for all the wrong reasons. Usually, we prefer the real thing, wine without sulfur based preservatives, real butter, not margarine, and so we'd like our layouts and designs</p></div>
									</div>	
								</div>
							</div>
						</div>
						
						<div class="col-xl-6 col-lg-6 col-md-6">
							<div class="elementWrap">
								<div class="elementTitle mb-3"><h4 class="fw-medium mb-1">Tab 04</h4></div>
								<div class="elementContent">
									<ul class="nav nav-pills outline mb-3" id="pills-tab2" role="tablist">
										<li class="nav-item" role="presentation">
											<button class="nav-link active" id="home2-tab" data-bs-toggle="pill" data-bs-target="#home2" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
										</li>
										<li class="nav-item" role="presentation">
											<button class="nav-link" id="profile2-tab" data-bs-toggle="pill" data-bs-target="#profile2" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
										</li>
										<li class="nav-item" role="presentation">
											<button class="nav-link" id="account2-tab" data-bs-toggle="pill" data-bs-target="#account2" type="button" role="tab" aria-controls="account" aria-selected="false">Account</button>
										</li>
									</ul>
									<div class="tab-content" id="pills-tabContent">
									  <div class="tab-pane fade show active" id="home2" role="tabpanel" aria-labelledby="home2-tab" tabindex="0"><p>Do you like Cheese Whiz? Spray tan? Fake eyelashes? That's what is Lorem Ipsum to many—it rubs them the wrong way, all the way. It's unreal, uncanny, makes you wonder if something is wrong, it seems to seek your attention for all the wrong reasons. Usually, we prefer the real thing, wine without sulfur based preservatives, real butter, not margarine, and so we'd like our layouts and designs</p></div>
									  <div class="tab-pane fade" id="profile2" role="tabpanel" aria-labelledby="profile2-tab" tabindex="0"><p>Do you like Cheese Whiz? Spray tan? Fake eyelashes? That's what is Lorem Ipsum to many—it rubs them the wrong way, all the way. It's unreal, uncanny, makes you wonder if something is wrong, it seems to seek your attention for all the wrong reasons. Usually, we prefer the real thing, wine without sulfur based preservatives, real butter, not margarine, and so we'd like our layouts and designs</p></div>
									  <div class="tab-pane fade" id="account2" role="tabpanel" aria-labelledby="account2-tab" tabindex="0"><p>Do you like Cheese Whiz? Spray tan? Fake eyelashes? That's what is Lorem Ipsum to many—it rubs them the wrong way, all the way. It's unreal, uncanny, makes you wonder if something is wrong, it seems to seek your attention for all the wrong reasons. Usually, we prefer the real thing, wine without sulfur based preservatives, real butter, not margarine, and so we'd like our layouts and designs</p></div>
									</div>	
								</div>
							</div>
						</div>

					</div>
					<!-- /row -->
					
					<!-- row -->
					<div class="row align-items-start g-4 mb-5">
					
						<div class="col-xl-6 col-lg-6 col-md-6">
							<div class="elementWrap">
								<div class="elementTitle mb-3"><h4 class="fw-medium mb-1">Accordian</h4></div>
								<div class="elementContent">
									<div class="accordion accordion-flush" id="accordionFlushExample">
										<div class="accordion-item">
											<h2 class="accordion-header">
											  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
												Accordion Item #1
											  </button>
											</h2>
											<div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
											  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
											</div>
										</div>
										<div class="accordion-item">
											<h2 class="accordion-header">
											  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
												Accordion Item #2
											  </button>
											</h2>
											<div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
											  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
											</div>
										</div>
										<div class="accordion-item">
											<h2 class="accordion-header">
											  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
												Accordion Item #3
											  </button>
											</h2>
											<div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
											  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
											</div>
										</div>
									</div>	
								</div>
							</div>
						</div>
						
						<div class="col-xl-6 col-lg-6 col-md-6">
							<div class="elementWrap">
								<div class="elementTitle mb-3"><h4 class="fw-medium mb-1">Responsive Table</h4></div>
								<div class="elementContent">
									<table class="table table-striped mb-0">
										<thead class="bg-light border-top">
											<tr>
												<th scope="col" class="border-0 text-start">Item</th>
												<th scope="col" class="border-0">Quantity</th>
												<th scope="col" class="border-0">Rate</th>
												<th scope="col" class="border-0">Total</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td data-label="Invoice no.">Figma Website Design</td>
												<td data-label="Issued Date:">2</td>
												<td data-label="Due Date:">20.00</td>
												<td data-label="Total">40.00</td>
											</tr>
											<tr>
												<td data-label="Invoice no.">Website Customization</td>
												<td data-label="Issued Date:">3</td>
												<td data-label="Due Date:">30.00</td>
												<td data-label="Total">90.0</td>
											</tr>
											<tr>
												<td data-label="Invoice no.">SEO| SMO Services</td>
												<td data-label="Issued Date:">1</td>
												<td data-label="Due Date:">599.00</td>
												<td data-label="Total">599.00</td>
											</tr>
										</tbody>
									</table>	
								</div>
							</div>
						</div>

					</div>
					<!-- /row -->

				</div>
						
			</section>
			<!-- ============================ All Elements End ================================== -->
			
			<!-- ============================ Call To Action Start ================================== -->
			<section class="bg-cover bg-primary position-relative py-5" style="background:url(assets/img/brand-section.png)no-repeat;">
				<div class="container">
					<div class="row align-items-center justify-content-between g-4">
						
						<div class="col-xl-5 col-lg-5 col-md-5">
							<div class="callsTitles">
								<h4 class="text-white mb-0 lh-base">Subscribe Our Newsletter!</h4>
								<p class="text-white opacity-75 m-0">Subscribe our marketing platforms for latest updates</p>
							</div>
						</div>
						
						<div class="col-xl-5 col-lg-6 col-md-6">
							<div class="subscribeForm">
								<div class="inputGroup">
									<input type="email" class="form-control" placeholder="Your Email Here...">
									<button class="btn btn-warning text-dark"><i class="fa-regular fa-paper-plane me-2"></i>Subscribe</button>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- ============================ Call To Action Start ================================== -->


			<!-- ============================ Footer Start ================================== -->
			<footer class="footer skin-dark-footer">
				<div class="container">
					<div class="row">

						<div class="col-12 col-md-5 col-lg-12 col-xl-4">
							<div class="footer-widget pe-xl-4 mb-5">
								<div class="footerLogo"><img src="assets/img/logo-light.svg" class="img-fluid" width="160" alt="Footer Logo"></div>
								<div class="footerText"><p>©ListingHub 2025 Design By Themezhub</p></div>
								<div class="footerSocialwrap">
									<ul class="footersocial">
										<li><a href="elements.html#" class="social-link"><i class="fa-brands fa-facebook-f"></i></a></li>
										<li><a href="elements.html#" class="social-link"><i class="fa-brands fa-twitter"></i></a></li>
										<li><a href="elements.html#" class="social-link"><i class="fa-brands fa-instagram"></i></a></li>
										<li><a href="elements.html#" class="social-link"><i class="fa-brands fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="col-6 col-md-4 offset-md-3 col-lg-3  offset-lg-0 col-xl-2">
							<div class="footer-widget mb-5 mb-md-5 mb-lg-0">
								<h4 class="widget-title text-pri">Community</h4>
								<ul class="footer-menu">
									<li><a href="elements.html#">About ListingHub</a></li>
									<li><a href="elements.html#">Submit Listing</a></li>
									<li><a href="elements.html#">ListingHub Report</a></li>
									<li><a href="elements.html#">Careers</a></li>
								</ul>
							</div>
						</div>

						<div class="col-6 col-md-4 col-lg-3 col-xl-2">
							<div class="footer-widget mb-5 mb-md-5 mb-lg-0">
								<h4 class="widget-title">Getting Started</h4>
								<ul class="footer-menu">
									<li><a href="elements.html#">Trust & Safety</a></li>
									<li><a href="elements.html#">Investor Relations</a></li>
									<li><a href="elements.html#">Connect Guidelines</a></li>
									<li><a href="elements.html#">Terms of Services</a></li>
									<li><a href="elements.html#">Paid Advertising</a></li>
									<li><a href="elements.html#">ListingHub Blog</a></li>
								</ul>
							</div>
						</div>

						<div class="col-6 col-md-4 col-lg-3 col-xl-2">
							<div class="footer-widget">
								<h4 class="widget-title">ListingHub Business</h4>
								<ul class="footer-menu">
									<li><a href="elements.html#">ListingHub for Business</a></li>
									<li><a href="elements.html#">Advertise on ListingHub</a></li>
									<li><a href="elements.html#">Login on ListingHub</a></li>
									<li><a href="elements.html#">Claim for Business Page</a></li>
									<li><a href="elements.html#">Support for B2B</a></li>
									<li><a href="elements.html#">Table Management</a></li>
								</ul>
							</div>
						</div>

						<div class="col-6 col-md-4 col-lg-3 col-xl-2">
							<div class="footer-widget">
								<h4 class="widget-title">Get In Touch</h4>
								<div class="contactInfowrap">
									
									<div class="singleinfo">
										<div class="icons"><i class="bi bi-geo-alt-fill"></i></div>
										<div class="caps">
											<h5 class="title">Angraster 7, Greenhorst<br>Los Angeles QTC564</h5>
											<p class="subs">Reach Us</p>											
										</div>
									</div>
									
									<div class="singleinfo">
										<div class="icons"><i class="bi bi-telephone-outbound"></i></div>
										<div class="caps">
											<h5 class="title">042 - 526 - 5263</h5>
											<p class="subs">Mon - Sat 10am - 6PM</p>											
										</div>
									</div>
								
								</div>
							</div>
						</div>

					</div>
					
				</div>
				
			</footer>
			<!-- ============================ Footer End ================================== -->

			<!-- Log In Modal -->
			<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginmodal" aria-hidden="true">
				<div class="modal-dialog" id="loginmodal">
					<div class="modal-content">
						<div class="modal-header justify-content-end border-0 pb-0">
							<a href="elements.html#" class="square--30 circle bg-light-danger text-danger" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></a>
						</div>
						
						<div class="modal-body px-4">
							<!-- Heading -->
							<div class="text-center mb-5">
							  <h2>Welcome Back</h2>
							  <p class="fs-6">Login to manage your account.</p>
							</div>
							<!-- End Heading -->

							<!-- Form -->
							<form class="needs-validation px-lg-2" novalidate>
								
								<!-- Form -->
								<div class="row align-items-center justify-content-between g-3 mb-4">
									<div class="col-xl-6 col-lg-6 col-md-6"><a href="elements.html#" class="btn btn-outline-secondary border rounded-3 text-md px-lg-2 full-width"><img src="assets/img/google.png" class="img-fluid me-2" width="16" alt="">Login with Google</a></div>
									<div class="col-xl-6 col-lg-6 col-md-6"><a href="elements.html#" class="btn btn-outline-secondary border rounded-3 text-md px-lg-2 full-width"><img src="assets/img/facebook.png" class="img-fluid me-2" width="16" alt="">Login with Facebook</a></div>
								</div>
								<!-- End Form -->
								
								<!-- Form -->
								<div class="mb-4">
									<label class="form-label" for="email01">Your email</label>
									<input type="email" class="form-control" id="email01" placeholder="email@site.com" required>
									<span class="invalid-feedback">Please enter a valid email address.</span>
								</div>
								<!-- End Form -->

								<!-- Form -->
								<div class="mb-4">
									<div class="d-flex justify-content-between align-items-center">
										<label class="form-label" for="pass01">Password</label>
										<a class="link fw-medium text-primary" href="forgot-password.html">Forgot Password?</a>
									</div>

									<div class="input-group-merge">
										<input type="password" class="form-control" id="pass01" placeholder="8+ characters required" required>
									</div>

									<span class="invalid-feedback">Please enter a valid password.</span>
								</div>
								<!-- End Form -->

								<div class="d-grid mb-3">
									<button type="submit" class="btn btn-primary fw-medium">Log in</button>
								</div>

								<div class="text-center">
									<p>Don't have an account yet? <a class="link fw-medium text-primary" href="https://themezhub.net/listinghub-03.1/listinghub/signup.html">Sign up here</a></p>
								</div>
							</form>
							<!-- End Form -->
						</div>
						
						<div class="modal-footer p-3 border-top">
							<div class="d-flex align-items-center justify-content-between gap-3">
								<div class="brand px-lg-4 px-3"><img src="assets/img/brand/logo-1.png" class="img-fluid" alt=""></div>
								<div class="brand px-lg-4 px-3"><img src="assets/img/brand/logo-3.png" class="img-fluid" alt=""></div>
								<div class="brand px-lg-4 px-3"><img src="assets/img/brand/logo-2.png" class="img-fluid" alt=""></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->
			
			<!-- Cart Slider Wrap -->
			<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="cartSlider" aria-labelledby="cartSliderLabel">
				<div class="offcanvas-header border-bottom">
					<h6 class="offcanvas-title" id="cartSliderLabel">Your cart Items</h6>
					<a href="JavaScript:Void(0);" class="square--35 circle text-muted-2 border" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-x"></i></a>
				</div>
				<div class="offcanvas-body">
					<div class="cartItems w-100">
						<div class="d-flex align-items-center justify-content-start flex-column gap-3">
							
							<!-- Single Item -->
							<div class="singleCartitem d-flex align-items-center justify-content-between gap-4 w-100">
								<div class="d-flex align-items-center justify-content-start gap-3">
									<div class="cartiteThumb"><figure class="d-block m-0"><img src="assets/img/list-3.jpg" class="img-fluid rounded-2" width="60" alt=""></figure></div>
									<div class="cartCaption">
										<h6 class="lh-base m-0">Spicy Burger</h6>
										<p class="m-0">1x$25.50</p>
									</div>
								</div>
								
								<div class="removeItemcart"><a href="elements.html" class="square--35 circle badge-danger"><i class="bi bi-x"></i></a></div>
							</div>
							
							<!-- Single Item -->
							<div class="singleCartitem d-flex align-items-center justify-content-between gap-3 w-100">
								<div class="d-flex align-items-center justify-content-start gap-3">
									<div class="cartiteThumb"><figure class="d-block m-0"><img src="assets/img/list-4.jpg" class="img-fluid rounded-2" width="60" alt=""></figure></div>
									<div class="cartCaption">
										<h6 class="lh-base m-0">Premium Package</h6>
										<p class="m-0">1x$22.10</p>
									</div>
								</div>
								
								<div class="removeItemcart"><a href="elements.html" class="square--35 circle badge-danger"><i class="bi bi-x"></i></a></div>
							</div>
							
							<!-- Single Item -->
							<div class="singleCartitem d-flex align-items-center justify-content-between gap-3 w-100">
								<div class="d-flex align-items-center justify-content-start gap-3">
									<div class="cartiteThumb"><figure class="d-block m-0"><img src="assets/img/list-5.jpg" class="img-fluid rounded-2" width="60" alt=""></figure></div>
									<div class="cartCaption">
										<h6 class="lh-base m-0">Platinum Plaster</h6>
										<p class="m-0">1x$17.40</p>
									</div>
								</div>
								
								<div class="removeItemcart"><a href="elements.html" class="square--35 circle badge-danger"><i class="bi bi-x"></i></a></div>
							</div>
						
						</div>
						
						<div class="cartSubtotal w-100 py-3 border-top mt-3">
							<h6 class="m-0">Subtotal: $128.75</h6>
						</div>
						
					</div>
					
					<div class="cartButtons w-100 py-2">
						<div class="d-flex align-items-center justify-content-center flex-wrap gap-2">
							<a href="viewcart.html" class="btn btn-md btn-light-primary fw-medium flex-fill">View Cart</a>
							<a href="checkout-page.html" class="btn btn-md btn-primary fw-medium flex-fill">Checkout</a>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Search Slider Wrap  -->
			<div class="offcanvas offcanvas-top h-auto" tabindex="-1" id="searchSlider" aria-labelledby="searchSliderLabel">
				<div class="offcanvas-body" id="searchSliderLabel">
					<div class="searchForm w-100 mb-3">
						<div class="p-2 ps-3 rounded border d-flex align-items-center justify-content-between gap-2">
							<div class="searchicons"><span><i class="bi bi-search fs-4 opacity-75"></i></span></div>
							<div class="flex-fill"><input type="search" class="form-control border-0 ps-0" placeholder="What are you looking for?"></div>
							<div class="closeSlides"><a href="JavaScript:Void(0);" class="square--35 circle text-muted-2 border" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-x"></i></a></div>
						</div>
					</div>
					<div class="popularSearches d-flex align-items-center justify-content-center gap-2 flex-wrap">
						<div class="singleItem"><a href="elements.html#" class="badge badge-xs badge-primary rounded-pill">Real Estate</a></div>	
						<div class="singleItem"><a href="elements.html#" class="badge badge-xs badge-primary rounded-pill">Eat & Drink</a></div>	
						<div class="singleItem"><a href="elements.html#" class="badge badge-xs badge-primary rounded-pill">Shopping</a></div>	
						<div class="singleItem"><a href="elements.html#" class="badge badge-xs badge-primary rounded-pill">Nightlife</a></div>	
						<div class="singleItem"><a href="elements.html#" class="badge badge-xs badge-primary rounded-pill">Services</a></div>	
					</div>
				</div>
			</div>

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->


		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="assets/js/vendors.js"></script>

		<script src="assets/js/custom.js"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->

	</body>

</html>