<!doctype html>
<html lang="en" data-bs-theme="auto">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="ListingHub - Business Directory HTML Template By Themezhub">
		<meta name="author" content="Themezhub">
		
		<title>ListingHub Business Listing HTML Template By Themezhub</title>
		<link rel="icon" type="image/x-icon" href="assets/img/favicon.png">

		<!-- All Plugins -->
		<link href="assets/css/vendors.css" rel="stylesheet">

		<!-- Icons CSS -->
		<link href="assets/css/icons.css" rel="stylesheet">
		

		<!-- Custom CSS -->
		<link href="assets/css/style.css" rel="stylesheet">
	</head>

	<body class="bg-cover bg-light-primary" style="background: url(assets/img/auth-bg.png) no-repeat;">
		<!-- ============================================================== -->
		<!-- Preloader - style you can find in spinners.css -->
		<!-- ============================================================== -->
		<div id="preloader">
			<div class="preloader"><span></span><span></span></div>
		</div>

		<!-- ============================================================== -->
		<!-- Main wrapper - style you can find in pages.scss -->
		<!-- ============================================================== -->
		<div id="main-wrapper">
			
			
			<!-- ============================ Login Form Start ================================== -->
			<section>
				<div class="container">
					<div class="row align-items-center justify-content-center">
						<div class="col-xl-5 col-lg-7 col-md-9">
							<div class="authWrap">
							
								<div class="authhead">
									<!-- Logo -->
									<div class="text-center mb-4"><a href="index.html"><img class="img-fluid" src="assets/img/icon.png" width="55" alt="logo"></a></div>
								</div>
								
								<div class="authbody d-black mb-4">
									<div class="card rounded-4 p-sm-5 p-4">
										<div class="card-body p-0">
									
											
											<!-- Title -->
											<div class="text-center">
												<h1 class="mb-2 fs-2">Forgot Password?</h1>
												<p class="mb-0">Enter the email address associated with an account.</p>
											</div>

											<!-- Form START -->
											<form class="mt-4 text-start">
												
												<div class="form py-4">
													<div class="form-group">
														<label class="form-label">Enter email or user</label>
														<input type="email" class="form-control" placeholder="name@example.com">
													</div>

													<div class="form-group">
														<button type="submit" class="btn btn-primary full-width fw-medium">Reset Password</button>
													</div>
												</div>
												
											</form>
											<!-- Form END -->
										</div>
										
									</div>
								</div>
								
								<div class="authfooter">
									<div class="text-center"><p class="bs-text-dark mb-0">Back to<a href="login.html" class="fw-medium text-primary"> Sign In</a></p></div>
								</div>
								
							</div>

						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Login Form Start ================================== -->

			<!-- Log In Modal -->
			<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginmodal" aria-hidden="true">
				<div class="modal-dialog" id="loginmodal">
					<div class="modal-content">
						<div class="modal-header justify-content-end border-0 pb-0">
							<a href="forgot-password.html#" class="square--30 circle bg-light-danger text-danger" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></a>
						</div>
						
						<div class="modal-body px-4">
							<!-- Heading -->
							<div class="text-center mb-5">
							  <h2>Welcome Back</h2>
							  <p class="fs-6">Login to manage your account.</p>
							</div>
							<!-- End Heading -->

							<!-- Form -->
							<form class="needs-validation px-lg-2" novalidate>
								
								<!-- Form -->
								<div class="row align-items-center justify-content-between g-3 mb-4">
									<div class="col-xl-6 col-lg-6 col-md-6"><a href="forgot-password.html#" class="btn btn-outline-secondary border rounded-3 text-md px-lg-2 full-width"><img src="assets/img/google.png" class="img-fluid me-2" width="16" alt="">Login with Google</a></div>
									<div class="col-xl-6 col-lg-6 col-md-6"><a href="forgot-password.html#" class="btn btn-outline-secondary border rounded-3 text-md px-lg-2 full-width"><img src="assets/img/facebook.png" class="img-fluid me-2" width="16" alt="">Login with Facebook</a></div>
								</div>
								<!-- End Form -->
								
								<!-- Form -->
								<div class="mb-4">
									<label class="form-label" for="email01">Your email</label>
									<input type="email" class="form-control" id="email01" placeholder="email@site.com" required>
									<span class="invalid-feedback">Please enter a valid email address.</span>
								</div>
								<!-- End Form -->

								<!-- Form -->
								<div class="mb-4">
									<div class="d-flex justify-content-between align-items-center">
										<label class="form-label" for="pass01">Password</label>
										<a class="link fw-medium text-primary" href="forgot-password.html">Forgot Password?</a>
									</div>

									<div class="input-group-merge">
										<input type="password" class="form-control" id="pass01" placeholder="8+ characters required" required>
									</div>

									<span class="invalid-feedback">Please enter a valid password.</span>
								</div>
								<!-- End Form -->

								<div class="d-grid mb-3">
									<button type="submit" class="btn btn-primary fw-medium">Log in</button>
								</div>

								<div class="text-center">
									<p>Don't have an account yet? <a class="link fw-medium text-primary" href="https://themezhub.net/listinghub-03.1/listinghub/signup.html">Sign up here</a></p>
								</div>
							</form>
							<!-- End Form -->
						</div>
						
						<div class="modal-footer p-3 border-top">
							<div class="d-flex align-items-center justify-content-between gap-3">
								<div class="brand px-lg-4 px-3"><img src="assets/img/brand/logo-1.png" class="img-fluid" alt=""></div>
								<div class="brand px-lg-4 px-3"><img src="assets/img/brand/logo-3.png" class="img-fluid" alt=""></div>
								<div class="brand px-lg-4 px-3"><img src="assets/img/brand/logo-2.png" class="img-fluid" alt=""></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->


		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->


		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="assets/js/vendors.js"></script>

		<script src="assets/js/custom.js"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->

	</body>

</html>